<template>
  <div>
    <VModal
      is="form"
      :open="true"
      :title="editable ? `Edit asset group` : `Create asset group`"
      size="big"
      actions="right"
      @submit.prevent="false"
      @close="$emit('closeModal')"
    >
      <template #content>
        <form @submit.prevent="save" @keydown="form.onKeydown($event)">
          <div class="modal-body">
            <div class="field">
              <label class="label">{{ $t('Name') }}</label>
              <input
                v-model="form.name"
                type="text"
                class="input v-input"
                placeholder="Enter group name"
              />
              <HasError :form="form" field="name" />
            </div>

            <div class="columns">
              <div class="column is-6">
                <div class="field">
                  <label class="label">{{ $t('Business impact') }}</label>
                  <div class="select">
                    <select v-model="form.business_impact" class="form-select">
                      <option :value="undefined">Select business impact</option>
                      <option
                        v-for="(name, id) in general.assets.impacts"
                        :key="id"
                        :value="name"
                      >
                        {{ name }}
                      </option>
                    </select>
                  </div>
                  <HasError :form="form" field="business_impact" />
                </div>
              </div>
            </div>

            <hr />

            <div v-if="set" class="columns mb-4">
              <div class="column is-10">
                <div class="field">
                  <label class="label">{{ $t('Monitor') }}</label>

                  <div v-for="(value, index) in monitors" :key="index">
                    <div class="columns">
                      <div class="column is-9">
                        <label class="checkbox pt-0 pb-0 pl-0">
                          <input
                            :id="`asset-monitors-` + value.slug"
                            v-model="form.monitors[value.slug]['on']"
                            :value="value.slug"
                            class="form-check-input"
                            type="checkbox"
                            :disabled="!value.active"
                            autocomplete="off"
                          />
                          <span />
                          <span
                            >{{ value.name }}
                            <small v-if="!value.active">Coming soon</small></span
                          >

                          <div
                            v-if="form.monitors[value.slug]['on']"
                            class="mt-5 ml-5 mb-3"
                          >
                            <component
                              :is="mapTypeComponents[value.slug]"
                              :key="index"
                              :form="form"
                              :workspace="workspace"
                              :project="project"
                              :values="form.monitors[value.slug]['values']"
                            />
                          </div>
                        </label>
                      </div>
                      <div class="column is-3">
                        <div v-if="form.monitors[value.slug]['on']" class="select">
                          <select
                            v-model="form.monitors[value.slug]['schedule']"
                            class="input v-input"
                          >
                            <option value="dailyAt">Daily</option>
                            <option value="weeklyOn">Weekly</option>
                            <option value="monthlyOn">Monthly</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div v-if="monitors.length === 0">
                    <p>No license for any modules.</p>
                  </div>

                  <HasError :form="form" field="monitors" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-card-foot">
            <button type="button" class="button v-button" @click="$emit('closeModal')">
              {{ $t('Close') }}
            </button>
            <FormButton :form="form" class="button v-button is-primary btn-sm">
              {{ editable ? $t('Edit group') : $t('Create group') }}
            </FormButton>
          </div>
        </form>
      </template>
      <template #action>
        <VButton type="submit" color="primary" raised> Publish </VButton>
      </template>
    </VModal>
    <div>
      <div
        id="bd-example-modal-xl"
        class="modal fade show bd-example-modal-xl"
        style="display: block"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 id="myExtraLargeModalLabel" class="modal-title m-0">
                {{ $t('Create asset') }}
              </h6>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                @click="$emit('closeModal')"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop fade show" />
    </div>
    <div v-if="showModal">
      <AssetsModal :project="project" @closeModal="hideModal" />
    </div>
  </div>
</template>

<script>
import Form from '/@src/form'
import { Button as FormButton, HasError } from 'vform/src/components/bootstrap5'
import { mapGetters } from 'vuex'
import VModal from '/@src/components/base/modal/VModal.vue'
import VButton from '/@src/components/base/button/VButton.vue'
import { defineAsyncComponent } from 'vue'

export default {
  components: {
    AssetsModal: defineAsyncComponent(
      () => import('/@src/components/assets/AssetsModal.vue')
    ),
    VButton,
    VModal,
    FormButton,
    HasError,
  },
  props: ['editable', 'project'],
  emits: ['closeModal'],
  data: () => ({
    form: new Form({}),
    mapTypeComponents: {},
    monitors: [],
    set: false,
    showModal: false,
    q: '',
    watchTaskDelay: 4000,
    loading: false,
  }),
  computed: {
    ...mapGetters(['general', 'workspace']),
  },
  async mounted() {
    this.monitors = this.general.monitors.filter((m) => {
      if (this.workspace?.activeLicense?.show_unlicensed) {
        return true
      } else {
        return this.workspace?.activeLicense?.modules
          .map((module) => module.slug)
          .includes(m.module)
      }
    })

    if (this.editable) {
      this.form.name = this.editable.name
      this.form.assets = this.editable.assets
      this.form.monitors = {}
      this.form.status = this.editable.status
      this.form.business_impact = this.editable.business_impact

      this.general.monitors.forEach((tool) => {
        const existing = this.editable.schedules.find(
          (item) => item.monitor === tool.slug
        )

        this.form.monitors[tool.slug] = {
          on: !!existing,
          schedule: existing ? existing.type : 'weeklyOn',
          values: existing ? existing.values : {},
        }

        this.mapTypeComponents[tool.slug] = defineAsyncComponent(
          () => import(`./../tasks/modules/${tool.slug}.vue`)
        )
      })
    } else {
      this.form.name = ''
      this.form.project_id = this.project.id
      this.form.monitors = {}
      this.form.assets = []
      this.form.status = 'active'
      this.form.business_impact = 'Moderate'

      this.general.monitors.forEach((tool) => {
        this.form.monitors[tool.slug] = {
          on: false,
          schedule: 'weeklyOn',
          values: {},
        }

        this.mapTypeComponents[tool.slug] = defineAsyncComponent(
          () => import(`./../tasks/modules/${tool.slug}.vue`)
        )
      })
    }

    this.set = true
  },
  methods: {
    save() {
      this.send()
        .then(() => {
          this.$emit('closeModal')
        })
        .catch(() => {})
    },
    send() {
      let form
      if (this.editable) {
        form = this.form.post('/collection/' + this.editable.id + '?_method=PUT')
      } else {
        form = this.form.post('/collection')
      }
      return new Promise((resolve, reject) => {
        form
          .then((res) => {
            const { data } = res.data
            resolve(data)
          })
          .catch(() => {
            reject()
          })
      })
    },
    hideModal() {
      this.showModal = false
      this.search()
    },
  },
}
</script>
