<template>
  <div class="field">
    <div class="control is-agree">
      <label class="checkbox is-outlined p-0">
        <!-- eslint-disable-next-line vue/no-mutating-props -->
        <input v-model="values['discovery']" type="checkbox" />
        <span />
        <span>With asset discovery</span>
      </label>
    </div>
  </div>
</template>
<script>
export default {
  props: ['form', 'project', 'values'],
  data: () => ({}),
}
</script>
