<script>
import permissionsMixin from '/@src/mixins/permissionsMixin'
import { mapGetters } from 'vuex'

export default {
  mixins: [permissionsMixin],
  emits: ['close'],
  data: () => ({
    activeAssetsDropdown: false,
    activeDashboardDropdown: false,
  }),
  computed: {
    ...mapGetters([
      'user',
      'workspace',
      'project',
      'general',
      'isOpened',
      'openedSide',
      'isMobile',
    ]),
  },
  async mounted() {
    await this.$router.isReady()

    this.activeAssetsDropdown =
      this.$router.currentRoute.value.name === 'ProjectCollectionsView' ||
      this.$router.currentRoute.value.name === 'WorkspaceCyberExRiskConfigurationView' ||
      this.$router.currentRoute.value.name === 'ProjectAssetsView'

    this.activeDashboardDropdown =
      this.$router.currentRoute.value.name === 'ProjectOverview' ||
      this.$router.currentRoute.value.name === 'WorkspaceOverview' ||
      this.$router.currentRoute.value.name === 'ProjectOverviewCloud' ||
      this.$router.currentRoute.value.name === 'WorkspaceOverviewCloud'
  },
  methods: {
    toggleAssetsDropdown() {
      this.activeAssetsDropdown = !this.activeAssetsDropdown
    },
    toggleDashboardDropdown() {
      this.activeDashboardDropdown = !this.activeDashboardDropdown
    },
  },
}
</script>

<template>
  <template v-if="workspace.licenses_count">
    <template v-if="project">
      <li
        :class="[
          activeDashboardDropdown
            ? 'collapse-links has-children active'
            : 'collapse-links has-children',
        ]"
      >
        <div class="collapse-wrap">
          <a tabindex="0" class="parent-link" @click="toggleDashboardDropdown()">
            Dashboard
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="img"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-icon="feather:chevron-right"
              class="iconify rtl-hidden iconify--feather"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 18l6-6l-6-6"
              ></path>
            </svg>
          </a>
        </div>
        <ul v-if="activeDashboardDropdown" class="collapse-content">
          <li class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'ProjectOverview',
                params: { id: project.id },
              }"
              class="is-submenu"
            >
              General
            </router-link>
          </li>
          <li class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'ProjectOverviewCloud',
                params: { id: project.id },
              }"
              class="is-submenu"
            >
              Cloud
            </router-link>
          </li>
        </ul>
      </li>

      <li
        :class="[
          activeAssetsDropdown
            ? 'collapse-links has-children active'
            : 'collapse-links has-children',
        ]"
      >
        <div class="collapse-wrap">
          <a tabindex="0" class="parent-link" @click="toggleAssetsDropdown()">
            Global assets
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="img"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-icon="feather:chevron-right"
              class="iconify rtl-hidden iconify--feather"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 18l6-6l-6-6"
              ></path>
            </svg>
          </a>
        </div>
        <ul v-if="activeAssetsDropdown" class="collapse-content">
          <li id="assets-link" class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'ProjectAssetsView',
                params: { id: project.id },
              }"
              :class="
                canPerformAction('assets', 'view')
                  ? 'is-submenu'
                  : 'is-submenu is-disabled'
              "
            >
              Assets
            </router-link>
          </li>

          <li id="assets-link" class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'ProjectCollectionsView',
                params: { id: project.id },
              }"
              :class="
                canPerformAction('collections', 'view')
                  ? 'is-submenu'
                  : 'is-submenu is-disabled'
              "
            >
              Groups
            </router-link>
          </li>

          <li id="assets-link" class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'WorkspaceCyberExRiskConfigurationView',
                params: { id: workspace.id },
              }"
              class="is-submenu is-disabled"
            >
              Risk Configuration
            </router-link>
          </li>
        </ul>
      </li>

      <li id="assets-link" class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'ProjectIntegrationsView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('integrations', 'view')
              ? 'single-link'
              : 'single-link is-disabled'
          "
        >
          Integrations
        </router-link>
      </li>

      <li id="reports-link" class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'ProjectReportsView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Reports
        </router-link>
      </li>

      <li class="divider" />

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'ProjectIssuesView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('issues', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Issues
        </router-link>
      </li>
      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'ProjectEventsView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('events', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Events
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'CyberExVulnerabilitiesView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          CVE
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'CyberExEmailLeaksView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Credential leaks
        </router-link>
      </li>

      <li class="divider" />

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'ProjectAssetDomainsView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Domains
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'ProjectAssetSubdomainsView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Subdomains
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'ProjectAssetIPsView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          IP Addresses
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'CyberExTechnologiesView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Technologies
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'CyberExPortsView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Ports
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'CyberExCertificatesView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Certificates
        </router-link>
      </li>

      <li class="divider" />

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'CyberExTyposquattingView',
            params: { id: project.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Typosquatting
        </router-link>
      </li>
    </template>

    <template v-if="workspace && !project">
      <li
        :class="[
          activeDashboardDropdown
            ? 'collapse-links has-children active'
            : 'collapse-links has-children',
        ]"
      >
        <div class="collapse-wrap">
          <a tabindex="0" class="parent-link" @click="toggleDashboardDropdown()">
            Dashboard
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="img"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-icon="feather:chevron-right"
              class="iconify rtl-hidden iconify--feather"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 18l6-6l-6-6"
              ></path>
            </svg>
          </a>
        </div>
        <ul v-if="activeDashboardDropdown" class="collapse-content">
          <li class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'WorkspaceOverview',
                params: { id: workspace.id },
              }"
              class="is-submenu"
            >
              General
            </router-link>
          </li>
          <li class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'WorkspaceOverviewCloud',
                params: { id: workspace.id },
              }"
              class="is-submenu"
            >
              Cloud
            </router-link>
          </li>
        </ul>
      </li>

      <li
        :class="[
          activeAssetsDropdown
            ? 'collapse-links has-children active'
            : 'collapse-links has-children',
        ]"
      >
        <div class="collapse-wrap">
          <a tabindex="0" class="parent-link" @click="toggleAssetsDropdown()">
            Global assets
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="img"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              data-icon="feather:chevron-right"
              class="iconify rtl-hidden iconify--feather"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 18l6-6l-6-6"
              ></path>
            </svg>
          </a>
        </div>
        <ul v-if="activeAssetsDropdown" class="collapse-content">
          <li id="assets-link" class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'WorkspaceAssetsView',
                params: { id: workspace.id },
              }"
              :class="
                canPerformAction('assets', 'view')
                  ? 'is-submenu'
                  : 'is-submenu is-disabled'
              "
            >
              Assets
            </router-link>
          </li>

          <li id="assets-link" class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'WorkspaceCollectionsView',
                params: { id: workspace.id },
              }"
              :class="
                canPerformAction('collections', 'view')
                  ? 'is-submenu'
                  : 'is-submenu is-disabled'
              "
            >
              Groups
            </router-link>
          </li>

          <li id="assets-link" class="nav-item">
            <router-link
              active-class="active"
              :to="{
                name: 'WorkspaceCyberExRiskConfigurationView',
                params: { id: workspace.id },
              }"
              :class="
                canPerformAction('collections', 'view')
                  ? 'is-submenu'
                  : 'is-submenu is-disabled'
              "
            >
              Risk Configuration
            </router-link>
          </li>
        </ul>
      </li>

      <li id="assets-link" class="nav-item">
        <a active-class="active" :class="'single-link is-disabled'"> Integrations </a>
      </li>

      <li id="reports-link" class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceReportsView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Reports
        </router-link>
      </li>

      <li class="divider" />

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceIssuesView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('issues', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Issues
        </router-link>
      </li>
      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceEventsView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('events', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Events
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceCyberExVulnerabilitiesView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          CVE
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceCyberExEmailLeaksView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Credential leaks
        </router-link>
      </li>

      <li class="divider" />

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceAssetDomainsView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Domains
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceAssetSubdomainsView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Subdomains
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceAssetIPsView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          IP Addresses
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceCyberExTechnologiesView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Technologies
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceCyberExPortsView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Ports
        </router-link>
      </li>

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceCyberExCertificatesView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Certificates
        </router-link>
      </li>

      <li class="divider" />

      <li class="nav-item">
        <router-link
          active-class="active"
          :to="{
            name: 'WorkspaceCyberExTyposquattingView',
            params: { id: workspace.id },
          }"
          :class="
            canPerformAction('scans', 'view') ? 'single-link' : 'single-link is-disabled'
          "
        >
          Typosquatting
        </router-link>
      </li>
    </template>
  </template>
  <template v-else>
    <li>
      <a>No license found.</a>
    </li>
  </template>
</template>

<style lang="scss">
@import '/@src/scss/layout/sidebar-panel';
</style>
