<template>
  <div>
    <div class="columns">
      <div class="column is-6">
        <div class="dashboard-card">
          <div class="card-head mb-2">
            <h3 class="dark-inverted">Workflow configuration</h3>
          </div>

          <p>
            Enabling general workflow configuration will automatically create a
            "Remediation request" for all new issues for all companies in your workspace.
            You can also configure specific workflows for each company. To override
            general workflow configuration for a specific company, go to the workflows
            section and configure the workflow there.
          </p>
        </div>
      </div>
      <div class="column is-6"></div>
    </div>

    <div v-if="!loading">
      <div
        v-for="(name, id) in general.issues.categories"
        :key="id"
        class="dashboard-card"
        :value="id"
      >
        <div class="card-head mb-2">
          <h3 class="dark-inverted">{{ name }}</h3>
          <VControl>
            <VSwitchBlock
              v-model="workflows[id]"
              color="success"
              @change="updateWorkflows"
            />
          </VControl>
        </div>

        <p>
          Enabling this feature will automatically create a "Remediation request" for all
          new "{{ name }}" for all companies in your workspace.
        </p>
      </div>
    </div>
    <div v-else>
      <VLoader :active="true">
        <div style="height: 300px"></div>
      </VLoader>
    </div>
  </div>
  <div class="breadcrumb-wrapper">
    <VBreadcrumb :items="links" :center="true" />
  </div>
</template>

<script>
import { axios } from '/src/axios'
import VLoader from '/@src/components/base/loader/VLoader.vue'
import { mapGetters } from 'vuex'
import VBreadcrumb from '/@src/components/base/breadcrumb/VBreadcrumb.vue'
import _ from 'lodash'
import VSwitchBlock from '/@src/components/base/form/VSwitchBlock.vue'
import VControl from '/@src/components/base/form/VControl.vue'

export default {
  components: {
    VControl,
    VSwitchBlock,
    VBreadcrumb,
    VLoader,
  },
  data: () => ({
    showModal: false,
    loading: false,
    items: [],
    workflows: {},
    links: [],
  }),
  computed: {
    ...mapGetters(['workspace', 'general']),
  },
  watch: {
    search: _.debounce(function () {
      this.getData()
    }, 500),
    sort: _.debounce(function () {
      this.getData()
    }, 500),
  },
  async mounted() {
    this.links = [
      {
        label: 'Home',
        to: {
          name: 'Home',
        },
      },
      {
        label: 'Workflow configuration',
        to: {},
      },
    ]

    this.loading = true

    Object.keys(this.general.issues.categories).forEach((category) => {
      this.workflows[category] = false
    })

    await this.getData()

    this.loading = false
  },
  methods: {
    async updateWorkflows() {
      axios
        .post(`/vendor-workflow/general`, {
          workspace_id: this.workspace.id,
          issue_type: this.workflows,
        })
        .then(() => {
          this.getData()
        })
    },
    getData(page = 1) {
      return axios
        .get(`/vendor-workflow`, {
          params: {
            workspace_id: this.workspace.id,
            general: true,
            page: page,
          },
        })
        .then((res) => {
          this.items = res.data.data

          this.items.forEach((item) => {
            this.workflows[item.issue_type] = true
          })
        })
        .catch(() => {})
    },
  },
  metaInfo() {
    return {
      title: 'Workflow configuration',
    }
  },
}
</script>


<style lang="scss" scoped>
.tile-grid-toolbar.assets {
  position: relative;
}

.asset-filters {
  display: flex;
  align-self: center;
  min-width: 85%;
}

.tile-grid-toolbar .control {
  margin-inline-end: 0px;
}

@media (width <= 767px) {
  .asset-filters {
    min-width: 70%;
  }
}
</style>