<template>
  <div id="project-quick-dropdown">
    <VDropdown v-if="product" ref="dropdown" class="project-dropdown" spaced>
      <template #button="{ toggle }">
        <span @click="toggleDropdown(toggle)">{{
          product === UEM_PRODUCT ? 'UEM' : 'TPRM'
        }}</span>
        <i
          class="fa fa-chevron-down"
          style="color: #999999; margin-left: 5px; margin-top: 2px"
          @click="toggleDropdown(toggle)"
        ></i>
      </template>

      <template #content="{ close }">
        <div v-if="loading">
          <VLoader :active="true" size="small">
            <div style="height: 50px; margin: 50px" />
          </VLoader>
        </div>
        <div v-else>
          <a
            :class="[
              hasLicenseUEM()
                ? 'dropdown-item dropdown-block'
                : 'dropdown-item dropdown-block is-disabled',
            ]"
            role="button"
            tabindex="0"
            @click="
              () => {
                selectProduct(UEM_PRODUCT)
                close()
              }
            "
          >
            <div class="meta">
              <span class="dark-inverted">UEM</span>
              <span class="is-hidden-mobile">Unified Exposure Management</span>
            </div>
          </a>
          <a
            :class="[
              hasLicenseVRM()
                ? 'dropdown-item dropdown-block'
                : 'dropdown-item dropdown-block is-disabled',
            ]"
            role="button"
            tabindex="0"
            @click="
              () => {
                selectProduct(VRM_PRODUCT)
                close()
              }
            "
          >
            <div class="meta">
              <span class="dark-inverted">TPRM</span>
              <span class="is-hidden-mobile">Third-Party Risk Management</span>
            </div>
          </a>
        </div>
      </template>
    </VDropdown>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VDropdown from '/@src/components/base/dropdown/VDropdown.vue'
import VLoader from '/@src/components/base/loader/VLoader.vue'
import { UEM_PRODUCT, VRM_PRODUCT } from '/@src/models/constants'
export default {
  components: {
    VLoader,
    VDropdown,
  },
  data() {
    return {
      loading: false,
      open: false,
      id: '',
      projects: [],
      UEM_PRODUCT,
      VRM_PRODUCT,
    }
  },
  computed: {
    ...mapGetters(['product', 'general', 'workspace', 'latestProjects']),
  },
  methods: {
    async toggleDropdown(toggle) {
      toggle()

      this.open = !this.open
    },
    hasLicenseVRM() {
      let has = false

      if (!this.workspace?.activeLicense) {
        return false
      }

      this.workspace.activeLicense.modules.forEach((license) => {
        if (license.slug === VRM_PRODUCT) {
          has = true
        }
      })
      return has
    },
    hasLicenseUEM() {
      let has = false

      if (!this.workspace?.activeLicense) {
        return false
      }
      const modules = this.workspace.activeLicense.modules
      this.workspace.activeLicense.modules.forEach((license) => {
        const check_vrm = modules.find((item) => item.slug !== VRM_PRODUCT)
        if (license.slug === UEM_PRODUCT || check_vrm) {
          has = true
        }
      })
      return has
    },
    selectProduct(product) {
      this.$store.commit('setProduct', product)
      if (product === VRM_PRODUCT) {
        this.$store.commit('setProject', null)
      } else {
        const projects = Array.isArray(this.latestProjects)
          ? this.latestProjects.filter((p) => p.id !== this.workspace.id)
          : []

        if (projects.length === 0) {
          this.$store.commit('setProject', null)
        } else {
          this.$store.dispatch('addProject', projects[0].id)
        }
      }

      this.$router.push({
        name: 'Home',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@media only screen and (device-width >= 768px) and (device-width <= 1024px) and (orientation: portrait) {
  #project-quick-dropdown-title {
    display: none;
  }
  .v-icon {
    max-width: 32px;
    min-width: 32px;
    max-height: 32px;
  }
  .dropdown-content .dropdown-block {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  .meta {
    margin-left: 10px;
  }
}
@media only screen and (width <= 767px) {
  #project-quick-dropdown-title {
    display: none;
  }
  .v-icon {
    max-width: 32px;
    min-width: 32px;
    max-height: 32px;
  }
  .dropdown-content .dropdown-block {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  .meta {
    margin-left: 10px;
  }
}
</style>