
<template>
  <button
    :class="project ? 'v-button button project-button' : 'v-button button project-button'"
    :disabled="!project"
    @click="selectWorkspace"
  >
    <span class="text">All projects</span>
    <i class="fa fa-folder icon"></i>
  </button>

  <VField v-slot="{}" class="is-curved-select ml-2 project-field">
    <VControl>
      <Multiselect
        v-model="selectedProject"
        placeholder="Project"
        :internal-search="false"
        :clear-on-select="false"
        :close-on-select="false"
        :can-clear="false"
        :options-limit="300"
        :limit="8"
        :max-height="600"
        :show-no-results="false"
        :hide-selected="true"
        open-direction="bottom"
        :searchable="true"
        :options="projects"
        @open="asyncFind('')"
        @search-change="asyncFind"
        @select="selectProject"
      >
      </Multiselect>
    </VControl>
  </VField>
</template>

<script>
import { mapGetters } from 'vuex'
import { axios } from '/@src/axios'
import permissionsMixin from '/@src/mixins/permissionsMixin'
import VControl from '/@src/components/base/form/VControl.vue'
import VField from '/@src/components/base/form/VField.vue'
import Multiselect from '@vueform/multiselect'

export default {
  components: { VField, VControl, Multiselect },
  mixins: [permissionsMixin],
  data: () => ({
    active: false,
    loading: false,
    projects: [],
    selectedProject: '',
    id: null,
  }),
  computed: {
    ...mapGetters(['project', 'workspace']),
  },
  watch: {
    active(val) {
      if (val) {
        this.loading = true
        this.getProjects().then(() => {
          this.loading = false
        })
      }
    },
    project(val) {
      if (val) {
        this.selectedProject = this.project.id
        this.projects = {
          [this.project.id]: this.project.name,
        }
      } else {
        this.selectedProject = ''
      }
    },
  },
  mounted() {
    if (this.project) {
      this.selectedProject = this.project.id
      this.projects = {
        [this.project.id]: this.project.name,
      }
    }
  },
  methods: {
    selectProject(id) {
      if (id) {
        this.$store.dispatch('addProject', id)

        const mappedRoute = this.mapRoute(id)

        if (mappedRoute) {
          this.$router.push(mappedRoute)
        } else {
          this.$router.push({
            name: 'ProjectOverview',
            params: { id: id },
          })
        }
      }
    },
    selectWorkspace() {
      this.selectedProject = ''

      this.$store.commit('setProject', null)

      const mappedRoute = this.mapRoute()

      if (mappedRoute) {
        this.$router.push(mappedRoute)
      } else {
        this.$router.push({
          name: 'WorkspaceOverview',
          params: { id: this.workspace.id },
        })
      }
    },
    mapRoute(projectId = null) {
      const currentRoute = this.$route.name

      if (projectId) {
        if (currentRoute === 'WorkspaceOverview') {
          return {
            name: 'ProjectOverview',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceReportsView') {
          return {
            name: 'ProjectReportsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceAssetsView') {
          return {
            name: 'ProjectAssetsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceAssetsView') {
          return {
            name: 'ProjectAssetsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceAssetsView') {
          return {
            name: 'ProjectAssetsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceAssetsView') {
          return {
            name: 'ProjectAssetsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceCollectionsView') {
          return {
            name: 'ProjectCollectionsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceIssuesView') {
          return {
            name: 'ProjectIssuesView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceEventsView') {
          return {
            name: 'ProjectEventsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceCyberExVulnerabilitiesView') {
          return {
            name: 'CyberExVulnerabilitiesView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceCyberExEmailLeaksView') {
          return {
            name: 'CyberExEmailLeaksView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceAssetDomainsView') {
          return {
            name: 'ProjectAssetDomainsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceAssetSubdomainsView') {
          return {
            name: 'ProjectAssetSubdomainsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceAssetIPsView') {
          return {
            name: 'ProjectAssetIPsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceCyberExTechnologiesView') {
          return {
            name: 'CyberExTechnologiesView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceCyberExPortsView') {
          return {
            name: 'CyberExPortsView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceCyberExCertificatesView') {
          return {
            name: 'CyberExCertificatesView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceCyberExTyposquattingView') {
          return {
            name: 'CyberExTyposquattingView',
            params: { id: projectId },
          }
        }

        if (currentRoute === 'WorkspaceOverviewCloud') {
          return {
            name: 'ProjectOverviewCloud',
            params: { id: projectId },
          }
        }
      } else {
        if (currentRoute === 'ProjectOverview') {
          return {
            name: 'WorkspaceOverview',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectReportsView') {
          return {
            name: 'WorkspaceReportsView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectOverviewCloud') {
          return {
            name: 'WorkspaceOverviewCloud',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectAssetsView') {
          return {
            name: 'WorkspaceAssetsView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectCollectionsView') {
          return {
            name: 'WorkspaceCollectionsView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectIssuesView') {
          return {
            name: 'WorkspaceIssuesView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectEventsView') {
          return {
            name: 'WorkspaceEventsView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'CyberExVulnerabilitiesView') {
          return {
            name: 'WorkspaceCyberExVulnerabilitiesView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'CyberExEmailLeaksView') {
          return {
            name: 'WorkspaceCyberExEmailLeaksView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectAssetDomainsView') {
          return {
            name: 'WorkspaceAssetDomainsView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectAssetSubdomainsView') {
          return {
            name: 'WorkspaceAssetSubdomainsView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'ProjectAssetIPsView') {
          return {
            name: 'WorkspaceAssetIPsView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'CyberExTechnologiesView') {
          return {
            name: 'WorkspaceCyberExTechnologiesView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'CyberExPortsView') {
          return {
            name: 'WorkspaceCyberExPortsView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'CyberExCertificatesView') {
          return {
            name: 'WorkspaceCyberExCertificatesView',
            params: { id: this.workspace.id },
          }
        }

        if (currentRoute === 'CyberExTyposquattingView') {
          return {
            name: 'WorkspaceCyberExTyposquattingView',
            params: { id: this.workspace.id },
          }
        }
      }

      return null
    },
    asyncFind(query) {
      this.isLoading = true
      axios
        .get('/project', {
          params: {
            id: this.workspace.id,
            q: query,
            filter: 'active',
            sort: 'viewed',
          },
        })
        .then((res) => {
          const groups = {}
          res.data.data.forEach((item) => {
            groups[item.id] = item.name
          })
          this.projects = groups
          this.isLoading = false
        })
        .catch(() => {})
    },
  },
}
</script>

<style lang="scss" scoped>
.project-field .control {
  min-width: 200px;
  max-width: 200px;
}
.project-button .icon {
  display: none;
}
@media only screen and (width <= 1200px) {
  .project-button .text {
    display: none;
  }
  .project-button .icon {
    display: inline-block;
    margin: 0 !important;
  }
  .project-button {
    padding: 10px !important;
  }
  .project-field .control {
    min-width: 120px;
    max-width: 120px;
  }
}
</style>