<template>
  <div v-if="loaded">
    <GroupedStatWidget
      title="Issues by status"
      :values="[summary.opened, summary.in_progress, summary.closed]"
      :labels="['Open', 'In progress', 'Closed']"
    >
      <template #chart1>
        <div
          class="is-clickable"
          @click="$router.push(getIssueIndexURL(project, { status: 'opened' }))"
        >
          <ApexChart
            :height="opened.chart.height"
            :type="opened.chart.type"
            :series="opened.series"
            :options="opened"
          />
        </div>
      </template>
      <template #chart2>
        <div
          class="is-clickable"
          @click="$router.push(getIssueIndexURL(project, { status: 'in_progress' }))"
        >
          <ApexChart
            :height="in_progress.chart.height"
            :type="in_progress.chart.type"
            :series="in_progress.series"
            :options="in_progress"
          />
        </div>
      </template>
      <template #chart3>
        <div
          class="is-clickable"
          @click="$router.push(getIssueIndexURL(project, { status: 'closed' }))"
        >
          <ApexChart
            :height="closed.chart.height"
            :type="closed.chart.type"
            :series="closed.series"
            :options="closed"
          />
        </div>
      </template>
    </GroupedStatWidget>
  </div>
  <div v-else>
    <VLoader :active="true">
      <div style="height: 160px" />
    </VLoader>
  </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
import { axios } from '/@src/axios'
import GroupedStatWidget from '/@src/components/base/widget/GroupedStatWidget.vue'
import VLoader from '/@src/components/base/loader/VLoader.vue'
import urlMixin from '/@src/mixins/urlMixin'

export default {
  components: {
    VLoader,
    GroupedStatWidget,
    ApexChart: VueApexCharts,
  },
  mixins: [urlMixin],
  props: [
    'project',
    'workspace',
    'workspaceCollectionId',
    'collection',
    'asset',
    'url',
    'title',
    'color',
    'detailed',
  ],
  data: () => ({
    widgetRadialGroup1Options: null,
    loaded: false,
    summary: null,
    critical: null,
    high: null,
    medium: null,
    low: null,
    opened: null,
    unassigned: null,
  }),
  async mounted() {
    await axios
      .get('/widget/issues-summary', {
        params: {
          workspace_id: this.workspace?.id,
          workspace_collection_id: this.workspaceCollectionId,
          project_id: this.project?.id,
          collection_id: this.collection?.id,
          asset_id: this.asset?.id,
        },
      })
      .then((res) => {
        this.summary = res.data.data

        Object.keys(this.summary).forEach((item) => {
          let template = {
            series: [35],
            chart: {
              height: 102,
              type: 'radialBar',
              offsetY: -10,
              toolbar: {
                show: false,
              },
            },
            colors: ['#b4e4ce'],
            plotOptions: {
              radialBar: {
                hollow: {
                  size: '35%',
                },
                dataLabels: {
                  show: false,
                },
              },
            },
            labels: [''],
          }

          if (item === 'opened') {
            this.opened = template
            this.opened.series = [(this.summary.opened / this.summary.total) * 100]
            this.opened.colors = ['#e62864']
          }
          if (item === 'in_progress') {
            this.in_progress = template
            this.in_progress.series = [
              (this.summary.in_progress / this.summary.total) * 100,
            ]
            this.in_progress.colors = ['#faad42']
          }
          if (item === 'closed') {
            this.closed = template
            this.closed.colors = ['#05d69e']
            this.closed.series = [(this.summary.closed / this.summary.total) * 100]
          }
        })

        this.loaded = true
      })
  },
}
</script>
