.sign-in {
	width: 53px;
	height: 26px;
	flex-grow: 0;
	font-family: Poppins;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	text-align: left;
	color: #fff;
}

.group-button {
	height: 40px;
	align-self: stretch;
	flex-grow: 0;
	flex-direction: row;
	gap: 8px;
	padding: 0;

	.google-button {
		flex-grow: 1;
		flex-direction: row;
		gap: 12px;
		padding: 7px 16px;
		border-radius: 6px;
		border: solid 1px #fff;
		background-color: #fff;
	}
}

.field {
	label {
		font-size: 16px;
		line-height: 1.33;
		height: 24px;
		color: #e2e1ee !important;
		margin-top: 32px;
	}
	.forgot-password {
		margin-top: 16px;
		font-weight: normal;
	}
	.password-wrapper {
		position: relative;

		.eye-icon {
			display: flex;
			position: absolute;
			cursor: pointer;
			right: 12px;
		}
	}
	input {
		flex-grow: 0;
		font-family: Poppins;
		font-size: 16px !important;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #e2e1ee;
		height: 40px;
		padding: 8px 12px;
	}
}


.top-logo {
	z-index: 1;
	img {
		display: block;
		width: 80.3px;
		height: 80px;
		margin: 0 32px auto;
	}

	svg {
		height: 50px;
		width: 50px;
	}
}

.account-text {
	font-size: 22px;
	color: #e2e1ee;
	text-align: center;
}

.footer-text {
	height: 40px;
	align-self: stretch;
	flex-grow: 0;
	font-family: Poppins;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: center;
	color: #ebf1ff;

	.text-style-3 {
		color: #e2e1ee;
	}
	.sign-up {
		font-size: 18px !important;
		font-weight: 600;
		line-height: 1;
		color: #e2e1ee !important;
	}
}