<template>
  <th class="is-clickable" @click="changeSort">
    {{ title }}
    <i
      :class="
        sort === slug || sort === '-' + slug
          ? sort.includes('-')
            ? 'ms-1 fa fa-sort-down'
            : 'ms-1 fa fa-sort-up'
          : 'ms-1 fa fa-sort'
      "
    />
  </th>
</template>

<script>
export default {
  props: ['sort', 'title', 'slug'],
  emits: ['change-sort'],
  methods: {
    changeSort() {
      this.$emit('change-sort', this.sort.includes('-') ? this.slug : '-' + this.slug)
    },
  },
}
</script>