<template>
  <div class="project-overview">
    <div class="columns is-multiline">
      <div
        class="column is-3 is-clickable"
        @click="
          () => {
            if (project) {
              $router.push({
                name: 'ProjectIssuesView',
                params: { id: project.id },
              })
            } else {
              $router.push({
                name: 'WorkspaceIssuesView',
                params: { id: workspace.id },
              })
            }
          }
        "
      >
        <SparkStatsComponent
          :project="project"
          :workspace="workspace"
          url="/widget/issues-count"
          title="Issues"
          color="#8168b1"
        />
      </div>
      <div
        class="column is-3 is-clickable"
        @click="
          () => {
            if (project) {
              $router.push({
                name: 'CyberExVulnerabilitiesView',
                params: { id: project.id },
              })
            } else {
              $router.push({
                name: 'WorkspaceCyberExVulnerabilitiesView',
                params: { id: workspace.id },
              })
            }
          }
        "
      >
        <SparkStatsComponent
          :workspace="workspace"
          :project="project"
          url="/widget/vulnerabilities-count"
          title="CVE"
          color="#e62864"
        />
      </div>
      <div
        class="column is-3 is-clickable"
        @click="
          () => {
            if (project) {
              $router.push({
                name: 'ProjectEventsView',
                params: { id: project.id },
              })
            } else {
              $router.push({
                name: 'WorkspaceEventsView',
                params: { id: workspace.id },
              })
            }
          }
        "
      >
        <SparkStatsComponent
          :workspace="workspace"
          :project="project"
          url="/widget/events-count"
          title="Events"
          color="#336aeb"
        />
      </div>
      <div
        class="column is-3 is-clickable"
        @click="
          () => {
            if (project) {
              $router.push({
                name: 'ProjectAssetsView',
                params: { id: project.id },
              })
            } else {
              $router.push({
                name: 'WorkspaceAssetsView',
                params: { id: workspace.id },
              })
            }
          }
        "
      >
        <SparkStatsComponent
          :workspace="workspace"
          :project="project"
          url="/widget/assets-count"
          title="Assets"
          color="#77d2f3"
        />
      </div>

      <div class="column is-6">
        <ExposureStatsWidget :project="project" :workspace="workspace" />
      </div>

      <div class="column is-6">
        <AssetItemsWidget :project="project" :workspace="workspace" />
      </div>

      <div class="column is-5">
        <IssuesStatsWidget :project="project" :workspace="workspace" :detailed="true" />
      </div>
      <div class="column is-4">
        <IssuesStatusWidget :project="project" :workspace="workspace" :detailed="true" />
      </div>
      <div class="column is-3">
        <LatestAlertsWidget :project="project" :workspace="workspace" />
      </div>

      <div class="column is-9">
        <LatestIssuesWidget :project="project" :workspace="workspace" />
      </div>
      <div class="column is-3">
        <LatestEventsWidget :project="project" :workspace="workspace" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SparkStatsComponent from '/@src/components/modules/widgets/SparkStatsComponent.vue'
import ExposureStatsWidget from '/@src/components/modules/cyber-ex/widgets/ExposureStatsWidget.vue'
import AssetItemsWidget from '/@src/components/assets/widgets/AssetItemsWidget.vue'
import IssuesStatsWidget from '/@src/components/issues/widgets/IssuesStatsWidget.vue'
import LatestIssuesWidget from '/@src/components/issues/widgets/LatestIssuesWidget.vue'
import LatestAlertsWidget from '/@src/components/alerts/widgets/LatestAlertsWidget.vue'
import LatestEventsWidget from '/@src/components/events/widgets/LatestEventsWidget.vue'
import IssuesStatusWidget from '/@src/components/issues/widgets/IssuesStatusWidget.vue'

export default {
  components: {
    IssuesStatusWidget,
    LatestEventsWidget,
    LatestIssuesWidget,
    IssuesStatsWidget,
    AssetItemsWidget,
    ExposureStatsWidget,
    SparkStatsComponent,
    LatestAlertsWidget,
  },
  props: ['project'],
  data: () => ({
    spark1: null,
  }),
  computed: {
    ...mapGetters(['module', 'workspace']),
  },
  async beforeMount() {},
  metaInfo() {
    if (this.project) {
      return {
        title: this.project.name + ' overview',
      }
    }

    return {
      title: this.workspace?.name + ' overview',
    }
  },
}
</script>

<style scoped>
.project-overview {
  .dashboard-card,
  .stat-widget {
    height: 100%;
  }
}
</style>
