<template>
  <VDropdown icon="fas fa-ellipsis-v" spaced right>
    <template #content>
      <router-link
        v-if="$route.name !== 'ProjectAssetView'"
        :to="{
          name: 'ProjectAssetView',
          params: { id: item.project_id, asset: item.id },
        }"
        role="menuitem"
        href="#"
        class="dropdown-item is-media"
        @click.stop.prevent=""
      >
        <div class="icon">
          <i aria-hidden="true" class="fa fa-eye" />
        </div>
        <div class="meta">
          <span>View</span>
          <span>View asset</span>
        </div>
      </router-link>
      <a
        :class="
          canPerformAction('assets', 'update')
            ? 'dropdown-item is-media'
            : 'dropdown-item is-media is-disabled'
        "
        @click.stop.prevent="editAsset(item)"
      >
        <div class="icon">
          <i aria-hidden="true" class="fa fa-pencil-alt" />
        </div>
        <div class="meta">
          <span>Edit</span>
          <span>Edit asset</span>
        </div>
      </a>
    </template>
  </VDropdown>
</template>

<script>
import permissionsMixin from '/@src/mixins/permissionsMixin'
import VDropdown from '/@src/components/base/dropdown/VDropdown.vue'

export default {
  components: { VDropdown },
  mixins: [permissionsMixin],
  props: ['item'],
  emits: ['editAsset'],
  methods: {
    editAsset(item) {
      this.$emit('editAsset', item)
    },
  },
}
</script>
