<template>
  <div>
    <div class="columns is-hidden-mobile">
      <div class="column is-3 is-clickable">
        <SparkStatsComponent
          :workspace="workspace"
          :project="project"
          :collection="collection"
          url="/widget/assets-count"
          title="Assets"
          color="#77d2f3"
        />
      </div>
      <div class="column is-3 is-clickable">
        <SparkStatsComponent
          :workspace="workspace"
          :project="project"
          :collection="collection"
          url="/widget/assets-count?type=domain"
          title="Domains"
          color="#8168b1"
        />
      </div>
      <div class="column is-3 is-clickable">
        <SparkStatsComponent
          :workspace="workspace"
          :project="project"
          :collection="collection"
          url="/widget/assets-count?type=subdomain"
          title="Subdomains"
          color="#ffa880"
        />
      </div>
      <div class="column is-3 is-clickable">
        <SparkStatsComponent
          :workspace="workspace"
          :project="project"
          :collection="collection"
          url="/widget/assets-count?type=ipv4"
          title="IP Addresses"
          color="#ff9eb8"
        />
      </div>
    </div>
    <div>
      <div v-if="!loading" class="tile-grid-toolbar assets">
        <div class="asset-filters">
          <div class="columns w-100">
            <div class="column pt-0 pb-0">
              <VField>
                <VControl>
                  <VInput v-model="search" type="text" placeholder="Search..." />
                </VControl>
              </VField>
            </div>
            <div v-if="!collection" class="column pt-0 pb-0 is-hidden-mobile">
              <VField v-slot="{}" class="is-curved-select w-100">
                <VControl>
                  <Multiselect
                    id="ajax"
                    v-model="searchGroup"
                    placeholder="Group"
                    :internal-search="false"
                    :clear-on-select="false"
                    :close-on-select="false"
                    :options-limit="300"
                    :limit="3"
                    :max-height="600"
                    :show-no-results="false"
                    :hide-selected="true"
                    open-direction="bottom"
                    :searchable="true"
                    :options="countries"
                    @open="asyncFind('')"
                    @search-change="asyncFind"
                  >
                  </Multiselect>
                </VControl>
              </VField>
            </div>
            <div class="column pt-0 pb-0 is-hidden-mobile">
              <VField v-slot="{ id }" class="is-curved-select">
                <VControl>
                  <Multiselect
                    v-model="searchStatus"
                    :attrs="{ id }"
                    :options="{
                      active: 'Active',
                      disabled: 'Archive',
                      favorite: 'Favorite',
                    }"
                    placeholder="Status"
                  />
                </VControl>
              </VField>
            </div>
            <div v-if="!type" class="column pt-0 pb-0 is-hidden-mobile">
              <VField v-slot="{ id }" class="is-curved-select">
                <VControl>
                  <Multiselect
                    v-model="searchType"
                    :attrs="{ id }"
                    :options="general.assets.types"
                    placeholder="Type"
                  />
                </VControl>
              </VField>
            </div>
            <div class="column pt-0 pb-0 is-hidden-mobile">
              <VField v-slot="{ id }" class="is-curved-select">
                <VControl>
                  <Multiselect
                    v-model="businessImpact"
                    mode="multiple"
                    :attrs="{ id }"
                    :options="general.assets.impacts"
                    placeholder="Business impact"
                  />
                </VControl>
              </VField>
            </div>
            <div class="column pt-0 pb-0 is-hidden-mobile">
              <VField v-slot="{ id }" class="is-curved-select">
                <VControl>
                  <Multiselect
                    v-model="riskRating"
                    mode="multiple"
                    :attrs="{ id }"
                    :options="general.assets.impact_risks"
                    placeholder="Risk rating"
                  />
                </VControl>
              </VField>
            </div>
            <div class="column pt-0 pb-0 is-hidden-mobile">
              <VField v-slot="{ id }" class="is-curved-select">
                <VControl>
                  <Multiselect
                    v-model="searchTags"
                    :attrs="{ id }"
                    mode="multiple"
                    :options="tags"
                    placeholder="Tags"
                  />
                </VControl>
              </VField>
            </div>
            <div class="column pt-0 pb-0 is-hidden-mobile">
              <div aria-haspopup="true" aria-controls="dropdown-menu" @click="showFilter">
                <VButton
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                  style="border: none"
                >
                  More &nbsp;
                  <i :class="chevronClass"></i>
                </VButton>
              </div>
            </div>
          </div>
        </div>

        <div v-if="canPerformAction('assets', 'create')" class="buttons">
          <!--          <VButton-->
          <!--            color="primary"-->
          <!--            raised-->
          <!--            class="is-hidden-mobile"-->
          <!--            @click="showImportModal = true"-->
          <!--          >-->
          <!--            <span class="icon">-->
          <!--              <i aria-hidden="true" class="fas fa-upload" />-->
          <!--            </span>-->
          <!--            <span>Import</span>-->
          <!--          </VButton>-->
          <VButton v-if="project" color="primary" raised @click="showModal = true">
            <span class="icon">
              <i aria-hidden="true" class="fas fa-plus" />
            </span>
            <span>Add</span>
          </VButton>
          <span v-else v-tooltip="`Select project to add asset`">
            <VButton color="primary" raised disabled>
              <span class="icon">
                <i aria-hidden="true" class="fas fa-plus" />
              </span>
              <span>Add</span>
            </VButton>
          </span>
        </div>
      </div>

      <div v-if="toggleCaret" class="tile-grid-toolbar assets">
        <div class="asset-filters">
          <div class="columns w-100">
            <div class="column pt-0 pb-0">
              <div class="field">
                <label class="label is-flex">
                  <span>
                    <span>Exposure Score</span>&nbsp;
                    <span>[{{ exposureScoreValue[0] }},</span>
                    <span>{{ exposureScoreValue[1] }}]</span>
                  </span>
                </label>
                <div
                  class="is-flex is-justify-content-center is-align-items-center columns mx-0 mt-1"
                >
                  <VField class="has-rounded-tooltip w-100">
                    <VControl>
                      <Slider
                        v-model="exposureScoreValue"
                        :min="0"
                        :max="100"
                        :step="1"
                        :tooltips="false"
                      />
                    </VControl>
                  </VField>
                </div>
              </div>
            </div>
            <div class="column pt-0 pb-0 is-hidden-mobile">
              <VField v-slot="{ id }" class="is-curved-select">
                <VControl>
                  <Multiselect
                    v-model="isScanned"
                    :attrs="{ id }"
                    :options="{
                      1: 'Yes',
                      0: 'No',
                    }"
                    placeholder="Has been scanned"
                  />
                </VControl>
              </VField>
            </div>
            <div class="column pt-0 pb-0"></div>
            <div class="column pt-0 pb-0"></div>
            <div class="column pt-0 pb-0"></div>
            <div class="column pt-0 pb-0"></div>
            <div class="column pt-0 pb-0"></div>
            <div class="column pt-0 pb-0"></div>
          </div>
        </div>
      </div>

      <div v-if="loading || !projectAssets" class="app-init-wrapper">
        <VLoader :active="true">
          <div />
        </VLoader>
      </div>
      <div v-else class="tile-grid tile-grid-v2">
        <NoData :meta="projectAssets?.meta" :search="search" />

        <TransitionGroup name="list" tag="div">
          <div v-if="projectAssets?.meta?.total" class="datatable-container">
            <table class="table datatable-table is-fullwidth is-hoverable">
              <thead>
                <tr>
                  <td style="max-width: 50px; width: 50px; min-width: 50px">
                    <label
                      :class="bulkActionLoading ? 'checkbox is-disabled' : 'checkbox'"
                    >
                      <input
                        v-model="bulkChecked"
                        type="checkbox"
                        :disabled="bulkActionLoading"
                        @change="toggleBulkCheckAll()"
                      />
                      <span />
                    </label>
                  </td>
                  <TableSortableHeader
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Asset"
                    slug="asset"
                    @changeSort="changeSort"
                  />
                  <TableSortableHeader
                    v-if="columns['Name']"
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Name"
                    slug="name"
                    @changeSort="changeSort"
                  />
                  <TableSortableHeader
                    v-if="columns['Project'] && !project"
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Project"
                    slug="project"
                    @changeSort="changeSort"
                  />
                  <TableSortableHeader
                    v-if="columns['Exposure score']"
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Exposure score"
                    slug="exposure_score"
                    @changeSort="changeSort"
                  />
                  <TableSortableHeader
                    v-if="columns['Business impact']"
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Business impact"
                    slug="business_impact"
                    @changeSort="changeSort"
                  />
                  <TableSortableHeader
                    v-if="columns['Risk rating']"
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Risk rating"
                    slug="business_impact_risk"
                    @changeSort="changeSort"
                  />
                  <th
                    v-if="columns['Groups'] && !collection"
                    style="vertical-align: middle"
                  >
                    Groups
                  </th>
                  <TableSortableHeader
                    v-if="columns['Status']"
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Status"
                    slug="status"
                    @changeSort="changeSort"
                  />
                  <TableSortableHeader
                    v-if="columns['Type']"
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Type"
                    slug="type"
                    @changeSort="changeSort"
                  />
                  <TableSortableHeader
                    v-if="columns['Scanned']"
                    style="vertical-align: middle"
                    :sort="sort"
                    title="Scanned"
                    slug="scanned_date"
                    @changeSort="changeSort"
                  />
                  <th v-if="columns['Tags']" style="vertical-align: middle">Tags</th>
                  <th style="min-width: 199px; vertical-align: middle">
                    <div
                      class="select is-inline-block mr-2"
                      style="width: 100px; height: 28px"
                    >
                      <select
                        v-model="bulkAction"
                        style="width: 100px; height: 28px"
                        class="input v-input"
                        :disabled="bulkCheck.length === 0 || bulkActionLoading"
                        @change="performBulkAction()"
                      >
                        <option :value="undefined">Bulk action</option>
                        <option value="archive">Archive assets</option>
                        <option value="activate">Activate assets</option>
                      </select>
                    </div>
                    <div class="is-inline-block" style="margin-top: 5px">
                      <TableCustomizationDropdown
                        id="assets-table"
                        :types="columns"
                        @typesUpdated="loadColumns"
                      />
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in projectAssets.data"
                  :key="item.id"
                  class="is-clickable"
                  @click="goToAsset(item)"
                >
                  <td style="max-width: 50px; width: 50px; min-width: 50px" @click.stop>
                    <label
                      :class="bulkActionLoading ? 'checkbox is-disabled' : 'checkbox'"
                    >
                      <input
                        v-model="bulkCheck"
                        :value="item.id"
                        type="checkbox"
                        :disabled="bulkActionLoading"
                      />
                      <span />
                    </label>
                  </td>
                  <td>
                    <a
                      :href="'http://' + item.value"
                      target="_blank"
                      @click.stop.prevent="openLink(item.value)"
                      ><i class="fa fa-external-link-alt mr-1"
                    /></a>
                    {{ item.value }}
                    <span v-if="item.private_network" class="ml-1">
                      <span class="tag is-small is-capitalized">Private network</span>
                    </span>
                  </td>
                  <td v-if="columns['Name']">
                    {{ item.name }}
                  </td>
                  <td v-if="columns['Project'] && !project">
                    {{ resolveProject(item.project_id)?.name }}
                  </td>
                  <td v-if="columns['Exposure score']">
                    <AssetExposureScoreBadge
                      v-if="item.exposure_score !== null"
                      :previous-score="item.previous_exposure_score"
                      :score="item.exposure_score"
                      class="mr-2"
                    />
                    <span v-else>-</span>
                  </td>
                  <td v-if="columns['Business impact']">
                    <BusinessImpactBadge :impact="item.business_impact" />
                  </td>
                  <td v-if="columns['Risk rating']">
                    <BusinessImpactRiskBadge :impact="item.business_impact_risk" />
                  </td>
                  <td v-if="columns['Groups'] && !collection">
                    <span v-if="item.collections.length">
                      <router-link
                        v-for="collection in item.collections"
                        :key="collection"
                        :to="{
                          name: 'ProjectCollectionView',
                          params: {
                            id: collection.project_id,
                            collection: collection.id,
                          },
                        }"
                        class="mr-2"
                        @click.stop.prevent=""
                        >{{ collection.name }}</router-link
                      >
                    </span>
                    <span v-else>-</span>
                  </td>
                  <td v-if="columns['Status']">
                    <a
                      :class="
                        canPerformAction('assets', 'update')
                          ? 'is-clickable'
                          : 'is-disabled'
                      "
                      @click.stop.prevent="toggleArchive(item)"
                    >
                      <span v-if="item.status === 'active'" class="tag is-success mr-2"
                        >Active</span
                      >
                      <span v-else class="tag is-danger mr-2">Archived</span>
                    </a>
                  </td>
                  <td v-if="columns['Type']">
                    {{ item.type_text }}
                  </td>
                  <td v-if="columns['Scanned']">
                    {{ item.scanned_date_text }}
                  </td>
                  <td v-if="columns['Tags']">
                    <span v-if="item.tags.length">
                      <span
                        v-for="tag in item.tags"
                        :key="tag"
                        class="tag is-primary mr-2"
                        >{{ tag }}</span
                      >
                    </span>
                    <span v-else> - </span>
                  </td>
                  <td class="text-end">
                    <Favorite
                      :id="item.id"
                      class="mt-2"
                      type="asset"
                      :value="item.favorite"
                      @saved="getAssets"
                    />

                    <router-link :to="getAssetViewURL(item)" @click.stop.prevent="">
                      <button
                        v-tooltip="'View asset'"
                        :class="
                          canPerformAction('assets', 'view')
                            ? 'button is-dark-outlined mr-2'
                            : 'button is-dark-outlined is-disabled mr-2'
                        "
                      >
                        <span class="icon is-small fa fa-eye"></span>
                      </button>
                    </router-link>

                    <a
                      v-tooltip="'Launch scans'"
                      :class="
                        canPerformAction('scans', 'create')
                          ? 'button is-dark-outlined mr-2'
                          : 'button is-dark-outlined is-disabled mr-2'
                      "
                      @click.stop.prevent="scanNow(item)"
                    >
                      <span class="icon is-small fa fa-rocket"></span>
                    </a>

                    <button
                      v-tooltip="'Edit asset'"
                      :class="
                        canPerformAction('assets', 'update')
                          ? 'button is-dark-outlined mr-2'
                          : 'button is-dark-outlined is-disabled mr-2'
                      "
                      @click.stop.prevent="editAsset(item)"
                    >
                      <span class="icon is-small fa fa-pencil-alt"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </TransitionGroup>

        <Pagination
          :limit="5"
          :data="projectAssets"
          :per-page="limit"
          @pagination-change-page="getAssets"
          @per-page-change="
            (perPage) => {
              $store.dispatch('addLimit', perPage)
              getAssets()
            }
          "
        />

        <div>
          <AreYouSureModal ref="confirmDialogue" />
          <VModal is="div" :open="issueCloseLoading" title="Loading..." size="small">
            <template #content>
              <div class="app-init-wrapper">
                <VLoader :active="true">
                  <div />
                </VLoader>
              </div>
            </template>
          </VModal>
          <AreYouSureModal ref="issueConfirmDialogue" />
          <AssetsModal
            v-if="showModal"
            :editable="editable"
            :project="project"
            :collection="collection"
            @closeModal="hideModal"
          />

          <ImportAssetsModal
            v-if="showImportModal"
            :project="project"
            @closeModal="hideModal"
          />

          <TasksModal
            v-if="showScanNowModal"
            :asset="scanNowItem"
            :project="project"
            @close="onCloseScanModal"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import _ from 'lodash'
import { axios } from '/@src/axios'

import AssetsModal from '/@src/components/assets/AssetsModal.vue'
import Favorite from '../../components/favorites/FavoriteComponent.vue'
import AreYouSureModal from '/@src/components/AreYouSureModal.vue'
import TasksModal from '../../components/tasks/TasksModal.vue'
import ImportAssetsModal from '../../components/assets/ImportAssetsModal.vue'
import permissionsMixin from '../../mixins/permissionsMixin.js'
import VControl from '/@src/components/base/form/VControl.vue'
import VButton from '/@src/components/base/button/VButton.vue'
import NoData from '/@src/components/NoData.vue'
import Pagination from '/@src/components/Pagination.vue'
import VLoader from '/@src/components/base/loader/VLoader.vue'
import AssetExposureScoreBadge from '/@src/components/assets/AssetExposureScoreBadge.vue'
import VField from '/@src/components/base/form/VField.vue'
import Multiselect from '@vueform/multiselect'
import Slider from '@vueform/slider'
import VInput from '/@src/components/base/form/VInput.vue'
import TableCustomizationDropdown from '/@src/components/TableCustomizationDropdown.vue'
import SparkStatsComponent from '/@src/components/modules/widgets/SparkStatsComponent.vue'
import TableSortableHeader from '/@src/components/TableSortableHeader.vue'
import urlMixin from '/@src/mixins/urlMixin'
import projectMixin from '/@src/mixins/projectMixin'
import BusinessImpactBadge from '/@src/components/assets/BusinessImpactBadge.vue'
import BusinessImpactRiskBadge from '/@src/components/assets/BusinessImpactRiskBadge.vue'
import { IssueStatus } from '/@src/models/enums'
import VModal from '/@src/components/base/modal/VModal.vue'

export default {
  components: {
    BusinessImpactRiskBadge,
    BusinessImpactBadge,
    TableSortableHeader,
    SparkStatsComponent,
    TableCustomizationDropdown,
    VInput,
    Multiselect,
    Slider,
    VField,
    AssetExposureScoreBadge,
    Pagination,
    VLoader,
    NoData,
    VButton,
    VControl,
    ImportAssetsModal,
    TasksModal,
    Favorite,
    AreYouSureModal,
    AssetsModal,
    VModal,
  },
  mixins: [permissionsMixin, urlMixin, projectMixin],
  props: ['project', 'workspace', 'type', 'collection'],
  data: () => ({
    showModal: false,
    loading: false,
    search: '',
    searchGroup: '',
    searchStatus: 'active',
    businessImpact: [],
    riskRating: [],
    searchType: '',
    searchTags: [],
    sort: '',
    perPage: '15',
    editable: null,
    showScanNowModal: false,
    showImportModal: false,
    scanNowItem: null,
    tags: [],
    tagsLoaded: null,
    countries: [],
    columns: {
      Name: false,
      Project: true,
      'Exposure score': true,
      'Business impact': true,
      'Risk rating': true,
      Groups: true,
      Status: true,
      Type: true,
      Scanned: true,
      Tags: true,
    },
    bulkCheck: [],
    bulkChecked: false,
    bulkAction: undefined,
    bulkActionLoading: false,
    issueCloseLoading: false,
    toggleCaret: false,
    isScanned: null,
    multiOptions: ['critical', 'high', 'medium', 'low'],
    exposureScoreValue: [0, 100],
  }),
  computed: {
    ...mapGetters(['projectAssets', 'isMobile', 'general', 'module', 'limit']),
    chevronClass() {
      return this.toggleCaret ? 'fa fa-chevron-up' : 'fa fa-chevron-down'
    },
  },
  watch: {
    search: _.debounce(function () {
      this.getAssets()
    }, 500),
    searchGroup: _.debounce(function () {
      this.getAssets()
    }, 500),
    searchStatus: _.debounce(function () {
      this.getAssets()
    }, 500),
    searchType: _.debounce(function () {
      this.getAssets()
    }, 500),
    businessImpact: _.debounce(function () {
      this.getAssets()
    }, 500),
    riskRating: _.debounce(function () {
      this.getAssets()
    }, 500),
    searchTags: _.debounce(function () {
      this.getAssets()
    }, 500),
    sort: _.debounce(function () {
      this.getAssets()
    }, 500),
    isScanned: _.debounce(function () {
      this.getAssets()
    }, 500),
    exposureScoreValue: _.debounce(function () {
      this.getAssets()
    }, 500),
  },
  async mounted() {
    this.loading = true
    this.$store.dispatch('addProjectAssets', null)

    if (this.$route.query.type) {
      this.searchType = this.$route.query.type
    }

    if (this.type) {
      this.searchType = this.type
    }

    if (this.collection) {
      this.searchGroup = this.collection.id
    }

    this.loadColumns()

    await Promise.all([this.getAssets()]).then(() => {
      this.loading = false
      if (this.project) {
        this.getTags()
      }
    })

    if (this.$route.query.open) {
      this.showModal = true
    }
  },
  methods: {
    showFilter() {
      this.toggleCaret = !this.toggleCaret
    },
    toggleBulkCheckAll() {
      if (this.bulkCheck.length === this.projectAssets.data.length) {
        this.bulkCheck = []
      } else {
        this.bulkCheck = this.projectAssets.data.map((item) => item.id)
      }
    },
    async performBulkAction() {
      this.bulkActionLoading = true

      const requests = []

      if (this.bulkAction === 'archive') {
        for (const id of this.bulkCheck) {
          const item = this.projectAssets.data.find((item) => item.id === id)
          const request = axios.post(`/asset/${item.id}?_method=PUT`, {
            status: 'disabled',
            business_impact: item.business_impact,
            name: item.name,
          })
          requests.push(request)
        }
      } else if (this.bulkAction === 'activate') {
        for (const id of this.bulkCheck) {
          const item = this.projectAssets.data.find((item) => item.id === id)
          const request = axios.post(`/asset/${item.id}?_method=PUT`, {
            status: 'active',
            business_impact: item.business_impact,
            name: item.name,
          })
          requests.push(request)
        }
      }

      try {
        await Promise.all(requests)
        this.bulkAction = undefined
        this.bulkCheck = []
        this.bulkChecked = false
        this.bulkActionLoading = false

        await this.getAssets()
      } catch (error) {
        this.bulkAction = undefined
        this.bulkCheck = []
        this.bulkChecked = false
        this.bulkActionLoading = false

        await this.getAssets()

        alert('An error occurred while performing the bulk action')
      }
    },
    openLink(url) {
      window.open('http://' + url, '_blank')
    },
    changeSort(sort) {
      this.sort = sort
    },
    loadColumns() {
      const existing = localStorage.getItem('assets-table')
      if (existing) {
        this.columns = JSON.parse(existing)
      }
    },
    asyncFind(query) {
      this.isLoading = true
      axios
        .get('/collection', {
          params: {
            id: this.project.id,
            q: query,
          },
        })
        .then((res) => {
          const groups = {}
          res.data.data.forEach((item) => {
            groups[item.id] = item.name
          })
          this.countries = groups
          this.isLoading = false
        })
        .catch(() => {})
    },
    clearAll() {
      this.selectedCountries = []
    },
    getAssets(page = 1) {
      return axios
        .get('/asset', {
          params: {
            id: this.project?.id,
            workspace_id: this.workspace?.id,
            q: this.search,
            collection_id: this.searchGroup,
            priority: this.searchPriority,
            type: this.searchType,
            filter: this.searchStatus,
            tags: this.searchTags,
            sort: this.sort,
            page: page,
            limit: this.limit,
            is_scanned: this.isScanned,
            exposure_score_min: this.exposureScoreValue[0],
            exposure_score_max: this.exposureScoreValue[1],
            business_impact: this.businessImpact,
            business_impact_risk: this.riskRating,
          },
        })
        .then((res) => {
          this.$store.dispatch('addProjectAssets', res.data)
        })
        .catch(() => {})
    },
    getIssues(asset_id) {
      let url = `/issue`

      return axios
        .get(url, {
          params: {
            asset_id: asset_id,
            page: 1,
            q: this.search,
            status: IssueStatus.OPENED,
            module_id: '',
            issue_type_id: '',
            sort: this.sort,
            limit: this.limit,
          },
        })
        .then(async (res) => {
          const openedCount = res.data.data.filter(
            (element) => element.status !== IssueStatus.CLOSED
          ).length
          let ok = false
          if (openedCount !== 0) {
            ok = await this.$refs.issueConfirmDialogue.show({
              title: 'Confirmation',
              message: `There are ${openedCount} active issues. Do you want to close the issues?`,
              okButton: 'Confirm',
              cancelButton: 'Deny',
            })
          }
          if (ok) {
            this.issueCloseLoading = true
            for (const element of res.data.data) {
              if (element.status !== 'closed') {
                await this.closeStatus(element.id)
              }
              this.issueCloseLoading = false
            }
          }
        })
        .catch(() => {})
    },
    closeStatus(id) {
      return axios
        .put(`/issue/${id}`, {
          status: 'closed',
        })
        .then((res) => {})
        .catch(() => {})
    },
    goToAsset(item) {
      this.$router.push(this.getAssetViewURL(item))
    },
    getTags() {
      return axios
        .get('/tag/assets', {
          params: {
            workspace_id: this.workspace?.id,
            project_id: this.project?.id,
          },
        })
        .then((res) => {
          const tags = {}
          res.data.data.forEach((item) => {
            tags[item.id] = item.name
          })
          this.tags = tags
        })
        .catch(() => {})
    },
    hideModal() {
      this.showModal = false
      this.showImportModal = false
      this.editable = null
      this.getAssets()
      if (this.project) {
        this.getTags()
      }
    },
    editAsset(item) {
      this.editable = JSON.parse(JSON.stringify(item))
      this.showModal = true
    },
    filterData(filter) {
      this.filter = filter
      this.getAssets()
    },
    filterStatus(status) {
      if (this.searchStatus === status) {
        status = ''
      }
      this.searchStatus = status
      this.getAssets()
    },
    filterTag(tag) {
      const index = this.searchTags.indexOf(tag)

      if (index !== -1) {
        this.searchTags.splice(index, 1)
      } else {
        this.searchTags.push(tag)
      }
      this.getAssets()
    },
    filterType(type) {
      if (this.searchType === type) {
        type = ''
      }
      this.searchType = type
      this.getAssets()
    },
    scanNow(item) {
      this.showScanNowModal = true
      this.scanNowItem = item
    },

    onCloseScanModal() {
      this.showScanNowModal = false
    },
    async toggleArchive(item) {
      let ok = false
      if (item.status === 'disabled') {
        ok = true
      } else {
        ok = await this.$refs.confirmDialogue.show({
          title: 'Confirmation',
          message: 'Are you sure you want to archive this item?',
          okButton: 'Yes',
          cancelButton: 'No',
        })
      }
      if (ok) {
        this.issueCloseLoading = true
        axios
          .post(`/asset/${item.id}?_method=PUT`, {
            business_impact: item.business_impact,
            status: item.status === 'disabled' ? 'active' : 'disabled',
            name: item.name,
          })
          .then(() => {
            this.issueCloseLoading = false
            this.getAssets()
            item.status === 'active' ? this.getIssues(item.id) : ''
          })
          .catch(() => {})
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.tile-grid-toolbar.assets {
  position: relative;
}
.asset-filters {
  display: flex;
  align-self: center;
  min-width: 90%;
}
.tile-grid-toolbar .control {
  margin-inline-end: 0px;
}
@media (width <= 767px) {
  .asset-filters {
    min-width: 70%;
  }
}
.multi-range-slider-bar-only {
  width: 85% !important;
  padding: 0px !important;
}
</style>