<template>
  <metainfo>
    <template #title="{ content }"> {{ content }} - {{ suffix }} </template>
  </metainfo>
  <div v-if="loading">
    <Transition name="fade-slow" mode="out-in">
      <div v-if="loading" class="app-init-wrapper">
        <VLoader :active="true">
          <div />
        </VLoader>
      </div>
    </Transition>
  </div>
  <div v-else-if="$route.meta.layout === 'app'">
    <AppLayout theme="labels">
      <Suspense>
        <RouterView v-slot="{ Component }" :key="$route.path">
          <Transition name="translate-page-x" mode="out-in">
            <component :is="Component" />
          </Transition>
        </RouterView>
      </Suspense>
    </AppLayout>
  </div>
  <div v-else-if="$route.meta.layout === 'minimal'">
    <MinimalLayout>
      <Suspense>
        <RouterView v-slot="{ Component }" :key="$route.path">
          <Transition name="fade-slow" mode="out-in">
            <component :is="Component" />
          </Transition>
        </RouterView>
      </Suspense>
    </MinimalLayout>
  </div>
  <div v-else-if="$route.meta.layout === 'auth'">
    <AuthLayout>
      <Suspense>
        <RouterView v-slot="{ Component }" :key="$route.path">
          <Transition name="fade-slow" mode="out-in">
            <component :is="Component" />
          </Transition>
        </RouterView>
      </Suspense>
    </AuthLayout>
  </div>
  <div v-else-if="$route.meta.layout === 'notfound'">
    <AuthLayout>
      <Suspense>
        <RouterView v-slot="{ Component }" :key="$route.path">
          <Transition name="fade-slow" mode="out-in">
            <component :is="Component" />
          </Transition>
        </RouterView>
      </Suspense>
    </AuthLayout>
  </div>

  <IdleComponent />

  <div v-if="alert" class="alert-fixed">
    <VSnack :title="alert" :color="alertType" white solid icon="fas fa-thermometer-half">
      <i class="fa fa-times" @click="$store.dispatch('addAlert', null)" />
    </VSnack>
  </div>
</template>

<script>
import { RouterView } from 'vue-router'
import { mapGetters } from 'vuex'
import { axios } from './axios'
import Translation from './helpers/translation'
import AppLayout from './layouts/AppLayout.vue'
import IdleComponent from './components/IdleComponent.vue'
import MinimalLayout from './layouts/MinimalLayout.vue'
import AuthLayout from './layouts/AuthLayout.vue'
import VLoader from './components/base/loader/VLoader.vue'
import VSnack from './components/base/snack/V-Snack.vue'

export default {
  components: {
    MinimalLayout,
    IdleComponent,
    AppLayout,
    RouterView,
    AuthLayout,
    VLoader,
    VSnack,
  },
  data: () => ({
    filtered: [],
    loading: true,
    q: null,
    suffix: '',
  }),
  computed: {
    ...mapGetters([
      'isAuthenticated',
      'user',
      'theme',
      'bodyClass',
      'general',
      'alert',
      'alertType',
    ]),
  },
  watch: {
    bodyClass(data) {
      document.body.className = data
    },
  },
  beforeCreate() {},
  async mounted() {
    await this.initApp()
    this.loading = false
    this.clarityJavascript()
  },
  methods: {
    async initApp() {
      return new Promise((resolve) => {
        if (import.meta.env.VITE_MAINTENANCE_MODE === 'true') {
          const urlParams = new URLSearchParams(window.location.search)

          if (urlParams.get('token') !== import.meta.env.VITE_MAINTENANCE_BY_PASS_TOKEN) {
            this.$router.push({ name: 'Maintenance' })
            resolve()
            return
          }
        }

        axios
          .get('/general')
          .then((res) => {
            const { data } = res.data
            Translation.switchLanguage(Translation.getLanguage(), data.translations)
            this.$store.dispatch('addGeneral', data)

            this.$store.dispatch('addIsMobile', window.screen.width < 767)

            if (data.settings === null) {
              this.$router.push({ name: 'NotFound' })
            }

            this.suffix = this.general.settings.title
          })
          .catch(() => {
            this.$router.push({ name: 'Error' })
          })
          .finally(() => {
            resolve()
          })
      })
    },
    search() {
      let data = JSON.parse(JSON.stringify(this.tools))
      let categories = []
      if (!this.q) {
        this.filtered = this.tools
        return
      }
      data.data.forEach((category) => {
        let items = []
        category.tools.forEach((tool) => {
          if (JSON.stringify(tool).toLowerCase().includes(this.q.toLowerCase())) {
            items.push(tool)
          }
        })
        category.tools = items
        categories.push(category)
      })
      data.data = categories
      this.filtered = data
    },
    clarityJavascript() {
      let id = import.meta.env.VITE_CLARITY_ID
      if (id) {
        let clarityScript = document.createElement('script')
        clarityScript.textContent =
          '(function(c,l,a,r,i,t,y){c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);})(window, document, "clarity", "script", "' +
          id +
          '");'
        document.head.appendChild(clarityScript)
      }
    },
  },
  metaInfo() {
    return {
      link: [{ rel: 'icon', href: this.general?.settings?.logo?.favicon ?? '' }],
    }
  },
}
</script>
