<script>
import { mapGetters } from 'vuex'
import { getCurrentManager } from 'vue-meta'
import permissionsMixin from '/@src/mixins/permissionsMixin'
import ActivityPanel from '/@src/layouts/panel/ActivityPanel.vue'
import ProjectPanel from '/@src/layouts/panel/ProjectPanel.vue'
import MobileNavbar from '/@src/components/navigation/mobile/MobileNavbar.vue'
import ModulesQuickDropdown from '/@src/components/modules/ModulesQuickDropdown.vue'
import VButton from '/@src/components/base/button/VButton.vue'
import VDropdown from '/@src/components/base/dropdown/VDropdown.vue'
import Sideblock from '/@src/components/navigation/desktop/Sideblock.vue'
import UserProfileDropdown from '/@src/components/UserProfileDropdown.vue'
import VViewWrapper from '/@src/components/base/layouts/VViewWrapper.vue'
import VPageContentWrapper from '/@src/components/base/layouts/VPageContentWrapper.vue'
import VPageContent from '/@src/components/base/layouts/VPageContent.vue'
import Navbar from '/@src/components/navigation/desktop/Navbar.vue'
import VLoader from '/@src/components/base/loader/VLoader.vue'
import VMessage from '/@src/components/base/message/VMessage.vue'
import VProgress from '/@src/components/base/progress/VProgress.vue'
import LicenseStatus from '/@src/components/licenses/LicenseStatus.vue'
import VendorRiskManagementSidebar from '/@src/layouts/sidebar/VendorRiskManagementSidebar.vue'
import CyberExposureSidebar from '/@src/layouts/sidebar/CyberExposureSidebar.vue'
import NoProjectSidebar from '/@src/layouts/sidebar/NoProjectSidebar.vue'
import VendorRiskManagementManageSidebar from '/@src/layouts/sidebar/VendorRiskManagementManageSidebar.vue'
import { UEM_PRODUCT, VRM_PRODUCT } from '/@src/models/constants'

export default {
  components: {
    VendorRiskManagementManageSidebar,
    NoProjectSidebar,
    VendorRiskManagementSidebar,
    CyberExposureSidebar,
    LicenseStatus,
    VProgress,
    VMessage,
    VLoader,
    Navbar,
    VPageContent,
    VPageContentWrapper,
    VViewWrapper,
    UserProfileDropdown,
    Sideblock,
    VDropdown,
    VButton,
    ProjectPanel,
    ActivityPanel,
    MobileNavbar,
    ModulesQuickDropdown,
  },
  mixins: [permissionsMixin],
  props: {
    theme: {
      type: String,
      default: 'default',
    },
    closeOnChange: {
      type: Boolean,
      default: false,
    },
    openOnMounted: Boolean,
    nowrap: Boolean,
  },
  data() {
    return {
      // viewWrapper: useViewWrapper(),
      // panels: usePanels(),
      filter: null,
      displaySearch: false,
      route: this.$route,
      isDesktopSidebarOpen: this.openOnMounted || false,
      pageTitle: null,
      hide: false,
      UEM_PRODUCT,
      VRM_PRODUCT,
    }
  },
  computed: {
    ...mapGetters([
      'general',
      'user',
      'workspace',
      'project',
      'isMobile',
      'loading',
      'processing',
      'processingCount',
      'processingOriginalCount',
      'product',
    ]),
    manager() {
      return getCurrentManager()
    },
  },
  watch: {
    manager: {
      deep: true,
      handler() {
        this.pageTitle = this.manager.target.context.active.title
      },
    },
    '$route.name'() {
      if (this.closeOnChange && this.isDesktopSidebarOpen) {
        this.isDesktopSidebarOpen = false
      }

      if (this.isMobile) {
        this.isDesktopSidebarOpen = false
      }
    },
    isDesktopSidebarOpen() {
      // used to resize charts in various widgets
      window.dispatchEvent(new Event('resize'))
    },
    '$route.fullPath'() {
      if (this.closeOnChange && this.isDesktopSidebarOpen) {
        this.isDesktopSidebarOpen = false
      }

      if (this.isMobile) {
        this.isDesktopSidebarOpen = false
      }
    },
  },
  mounted() {
    var width =
      window.innerWidth ||
      document.documentElement.clientWidth ||
      document.body.clientWidth
    if (width > 767) {
      this.isDesktopSidebarOpen = localStorage.getItem('isDesktopSidebarOpen') === 'true'

      if (!this.project) {
        this.isDesktopSidebarOpen = false
      }
    }
  },
  methods: {
    toggleSidebar() {
      this.isDesktopSidebarOpen = !this.isDesktopSidebarOpen
      localStorage.setItem('isDesktopSidebarOpen', this.isDesktopSidebarOpen)
    },
    launchWizard() {
      if (!this.user.email_verified_at) {
        this.$store.dispatch('addAlert', {
          text: 'Please verify your email',
          type: 'danger',
        })
        return
      }
      if (this.project) {
        this.$store.dispatch('addShowWizard', true)
      } else {
        this.$store.dispatch('addAlert', {
          text: 'You have not selected active project',
          type: 'danger',
        })
      }
    },
    switchSidebar() {
      this.isDesktopSidebarOpen = !this.isDesktopSidebarOpen
    },
  },
}
</script>

<template>
  <div class="sidebar-layout">
    <div class="app-overlay" />

    <MobileNavbar
      :is-open="isDesktopSidebarOpen"
      @toggle="isDesktopSidebarOpen = !isDesktopSidebarOpen"
    >
      <template #brand>
        <RouterLink to="/" class="navbar-item is-brand">
          <img :src="general.settings.logo.sidebar" class="hero-image" alt="logo" />
          <ModulesQuickDropdown @click.stop.prevent="" />
        </RouterLink>

        <div class="brand-end">
          <ActivityPanel v-if="product !== VRM_PRODUCT" />
          <ProjectPanel v-if="product !== VRM_PRODUCT" />
        </div>
      </template>
    </MobileNavbar>

    <Navbar :theme="theme">
      <template #title>
        <RouterLink to="/" class="brand">
          <img :src="general.settings.logo.sidebar" class="hero-image" alt="logo" />
          <ModulesQuickDropdown @click.stop.prevent="" />
        </RouterLink>

        <div class="separator" />
        <ProjectPanel v-if="product !== VRM_PRODUCT" />
      </template>

      <!-- Custom navbar toolbar -->
      <template #toolbar>
        <div class="toolbar desktop-toolbar">
          <!--          <NotificationDropdown />-->
          <ActivityPanel v-if="product !== VRM_PRODUCT" />
          <router-link
            v-if="product === UEM_PRODUCT"
            :to="{ name: 'Workspaces' }"
            class="v-button button project-button mr-2"
          >
            <span class="text">Workspaces</span>
          </router-link>
          <router-link
            v-if="product === VRM_PRODUCT"
            :to="{ name: 'VRMWorkspaces' }"
            class="v-button button project-button mr-2"
          >
            <span class="text">Workspaces</span>
          </router-link>
          <router-link
            v-if="product !== VRM_PRODUCT && workspace"
            :to="{
              name: 'WorkspacesView',
              params: { id: workspace.id },
            }"
            class="v-button button project-button"
          >
            <span class="text">Projects</span>
          </router-link>
        </div>
      </template>

      <!-- Custom navbar links -->
      <template #links>
        <div class="centered-drops" :class="[displaySearch && 'is-hidden']">
          <template v-if="workspace">
            <div v-if="product === VRM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'VendorOverview',
                      params: { id: workspace.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    :class="
                      workspace.licenses_count
                        ? 'button v-button'
                        : 'button v-button is-disabled'
                    "
                  >
                    <span> Dashboard </span>
                  </router-link>
                </div>
              </div>
            </div>
            <div v-if="product === VRM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'VendorsView',
                      params: { id: workspace.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    :class="
                      workspace.licenses_count
                        ? 'button v-button'
                        : 'button v-button is-disabled'
                    "
                  >
                    <span> Companies </span>
                  </router-link>
                </div>
              </div>
            </div>
            <div v-if="product === VRM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'VendorsContacts',
                      params: { id: workspace.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    :class="
                      workspace.licenses_count
                        ? 'button v-button'
                        : 'button v-button is-disabled'
                    "
                  >
                    <span> Contacts </span>
                  </router-link>
                </div>
              </div>
            </div>
          </template>
          <template v-if="project">
            <div v-if="product === UEM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'ProjectOverview',
                      params: { id: project.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    class="button v-button"
                  >
                    <span> Dashboard </span>
                  </router-link>
                </div>
              </div>
            </div>
            <div v-if="product === UEM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'ProjectAssetsView',
                      params: { id: project.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    class="button v-button"
                  >
                    <span> Assets </span>
                  </router-link>
                </div>
              </div>
            </div>
            <div v-if="product === UEM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'ProjectCollectionsView',
                      params: { id: project.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    class="button v-button"
                  >
                    <span> Groups </span>
                  </router-link>
                </div>
              </div>
            </div>
          </template>

          <template v-if="workspace && !project">
            <div v-if="product === UEM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'WorkspaceOverview',
                      params: { id: workspace.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    class="button v-button"
                  >
                    <span> Dashboard </span>
                  </router-link>
                </div>
              </div>
            </div>
            <div v-if="product === UEM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'WorkspaceAssetsView',
                      params: { id: workspace.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    class="button v-button"
                  >
                    <span> Assets </span>
                  </router-link>
                </div>
              </div>
            </div>
            <div v-if="product === UEM_PRODUCT" class="centered-drop">
              <div class="is-modern is-spaced dropdown has-mega-dropdown">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <router-link
                    :to="{
                      name: 'WorkspaceCollectionsView',
                      params: { id: workspace.id },
                    }"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    aria-hidden="false"
                    class="button v-button"
                  >
                    <span> Groups </span>
                  </router-link>
                </div>
              </div>
            </div>
          </template>

          <div class="centered-drop">
            <VDropdown ref="dropdownElement" class="has-mega-dropdown" modern spaced>
              <template #button="{ toggle }">
                <div
                  class="dropdown-trigger is-trigger"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <VButton
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    icon-caret="fa fa-chevron-down"
                    rounded
                    @click="toggle"
                  >
                    Settings
                  </VButton>
                </div>
              </template>

              <template #content="{ toggle }">
                <div v-if="workspace" class="category-selector">
                  <div class="title-wrap">
                    <h4>{{ workspace.name }} settings</h4>
                  </div>

                  <div class="category-selector-inner">
                    <router-link
                      active-class="active"
                      :to="{
                        name: 'WorkspaceSettingsView',
                        params: { id: workspace?.id },
                      }"
                      :class="
                        canPerformAction('workspaces', 'update')
                          ? 'category-item'
                          : 'category-item is-disabled'
                      "
                      tabindex="0"
                      role="button"
                      @click.capture="toggle"
                    >
                      <i aria-hidden="true" class="fa fa-cog" />
                      <span>General</span>
                    </router-link>
                    <router-link
                      active-class="active"
                      :to="{
                        name: 'WorkspaceUsersView',
                        params: { id: workspace?.id },
                      }"
                      :class="
                        canPerformAction('users', 'view')
                          ? 'category-item'
                          : 'category-item is-disabled'
                      "
                      tabindex="0"
                      role="button"
                      @click.capture="toggle"
                    >
                      <i aria-hidden="true" class="fa fa-users" />
                      <span>Access</span>
                    </router-link>
                    <router-link
                      active-class="active"
                      :to="{
                        name: 'WorkspaceLicensesView',
                        params: { id: workspace?.id },
                      }"
                      :class="
                        canPerformAction('licenses', 'view')
                          ? 'category-item'
                          : 'category-item is-disabled'
                      "
                      tabindex="0"
                      role="button"
                      @click.capture="toggle"
                    >
                      <i aria-hidden="true" class="fa fa-book" />
                      <span>License</span>
                    </router-link>

                    <router-link
                      v-if="user && user.type === 'LicenseManager'"
                      active-class="active"
                      :to="{ name: 'Manage' }"
                      :class="
                        canPerformAction('licenses', 'view')
                          ? 'category-item'
                          : 'category-item disabled'
                      "
                      tabindex="0"
                      role="button"
                      @click.capture="toggle"
                    >
                      <i aria-hidden="true" class="fa fa-cogs" />
                      <span>MANAGER</span>
                    </router-link>
                  </div>
                </div>
              </template>
            </VDropdown>
          </div>

          <div class="centered-drop">
            <div class="is-modern is-spaced dropdown has-mega-dropdown">
              <div
                class="dropdown-trigger is-trigger"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
              >
                <router-link
                  :to="{
                    name: 'Support',
                  }"
                  type="button"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                  aria-hidden="false"
                  class="button v-button"
                >
                  <span> Support </span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
        <div class="centered-search" :class="[!displaySearch && 'is-hidden']">
          <div class="field">
            <div class="control has-icon">
              <input
                v-model="filter"
                type="text"
                class="input is-rounded search-input"
                placeholder="Search records..."
              />
              <div class="form-icon">
                <i aria-hidden="true" class="fa fa-search" />
              </div>
              <div
                id="navbar-navbar-search-close"
                class="form-icon is-right"
                tabindex="0"
                role="button"
                @keydown.space.prevent="displaySearch = false"
                @click="displaySearch = false"
              >
                <i aria-hidden="true" class="fa fa-times" />
              </div>
            </div>
          </div>
        </div>
      </template>
    </Navbar>

    <Transition name="slide-x">
      <Sideblock v-if="isDesktopSidebarOpen" :theme="theme">
        <template #header> </template>
        <template #links>
          <CyberExposureSidebar
            v-if="isDesktopSidebarOpen && product === UEM_PRODUCT"
            @close="isDesktopSidebarOpen = false"
          />
          <template v-else-if="isDesktopSidebarOpen && product === VRM_PRODUCT">
            <VendorRiskManagementManageSidebar
              v-if="$route.name.includes('VrmManage')"
              @close="isDesktopSidebarOpen = false"
            />
            <VendorRiskManagementSidebar v-else @close="isDesktopSidebarOpen = false" />
          </template>
          <NoProjectSidebar v-else />
        </template>
        <template #bottom-links>
          <UserProfileDropdown up />
        </template>
      </Sideblock>
    </Transition>

    <VViewWrapper :opened="isDesktopSidebarOpen">
      <VPageContentWrapper>
        <VPageContent class="is-relative">
          <div v-if="!hide && processing" class="is-relative processing-bar">
            <VMessage closable class="mb-0 mt-3" @close="hide = true">
              <p>
                <i class="fa fa-sync rotating mr-2"></i>
                We are in the process of gathering asset information. Kindly await as we
                conduct our scans.
                <small>Running {{ processingCount }} scans..</small>
              </p>
            </VMessage>
            <VProgress
              style="margin-top: -5px; position: relative"
              class="mb-0"
              :value="processingOriginalCount - processingCount"
              :max="processingOriginalCount"
              size="tiny"
              :color="`primary`"
            />
            <span
              class="new-indicator pulsate"
              style="
                position: absolute;
                top: 10px;
                left: 10px;
                inset-inline-end: 1px;
                display: block;
                width: 8px;
                height: 8px;
                border-radius: var(--radius-rounded);
                background: var(--danger);
              "
            />
          </div>

          <LicenseStatus v-if="workspace" />

          <div class="page-title has-has-text-centereded">
            <!-- Sidebar Trigger -->
            <div
              class="vuero-hamburger nav-trigger push-resize"
              tabindex="0"
              role="button"
              @keydown.space.prevent="toggleSidebar()"
              @click="toggleSidebar()"
            >
              <span class="menu-toggle has-chevron">
                <span :class="[isDesktopSidebarOpen && 'active']" class="icon-box-toggle">
                  <span class="rotate">
                    <i aria-hidden="true" class="icon-line-top" />
                    <i aria-hidden="true" class="icon-line-center" />
                    <i aria-hidden="true" class="icon-line-bottom" />
                  </span>
                </span>
              </span>
            </div>

            <div class="title-wrap">
              <h1 class="title is-4">
                {{ pageTitle }}
              </h1>
            </div>
          </div>

          <slot />
        </VPageContent>
      </VPageContentWrapper>
    </VViewWrapper>

    <div v-if="loading" class="app-init-wrapper">
      <VLoader :active="true">
        <div />
      </VLoader>
    </div>
  </div>
</template>
