<template>
  <div class="modern-signup">
    <div class="columns is-gapless is-vcentered signup-panel">
      <div class="column is-relative is-6 h-hidden-mobile h-hidden-tablet-p">
        <div class="hero is-fullheight is-image">
          <div class="hero-body is-flex is-justify-content-center is-align-items-center">
            <div>
              <div class="brand-section">
                <img src="/images/logos/logo/logo-1.svg" alt="brand" />
              </div>
              <div class="main-section">
                <img
                  id="img1"
                  src="/images/logos/logo/Registration-page.png"
                  alt="sign1"
                  :class="currentSlide === 0 ? 'active' : 'in-active'"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="column is-12-tablet is-6-desktop is-6-fullhd is-6-widescreen is-relative"
      >
        <div class="mark-section">
          <div class="account-image"></div>
        </div>
        <div class="is-form">
          <div class="is-form-inner">
            <div class="form-text">
              <RouterLink
                to="/"
                class="top-logo is-flex is-justify-content-center is-align-items-center"
              >
                <img src="/images/logos/logo/logo-2.svg" height="120" alt="logo" />
              </RouterLink>
              <p class="account-text">Register now to & secure your infrastructure</p>
            </div>
            <form
              class="signup-wrapper"
              @submit.prevent="register"
              @keydown="regForm.onKeydown($event)"
            >
              <div class="field">
                <div class="is-flex-grow-1 input-field">
                  <label class="label" for="fullName">Your full name</label>
                  <input
                    id="name"
                    v-model="regForm.fullName"
                    type="text"
                    class="input v-input"
                    name="name"
                    placeholder="Your full name"
                  />
                  <HasError :form="regForm" field="name" />
                </div>
                <div class="is-flex-grow-1 input-field">
                  <label class="label" for="companyName">Company name</label>
                  <input
                    id="company"
                    v-model="regForm.companyName"
                    type="text"
                    class="input v-input"
                    name="company"
                    placeholder="Enter company name"
                  />
                  <HasError :form="regForm" field="company" />
                </div>
              </div>

              <div class="field">
                <div class="is-flex-grow-1 input-field">
                  <label class="label" for="email">Email</label>
                  <input
                    id="email"
                    v-model="regForm.email"
                    type="text"
                    class="input v-input"
                    name="email"
                    placeholder="Enter email"
                  />
                  <HasError :form="regForm" field="email" />
                </div>
                <div class="is-flex-grow-1 input-field">
                  <label class="label" for="userpassword">Password</label>
                  <div class="password-wrapper">
                    <input
                      id="userpassword"
                      v-model="regForm.password"
                      :type="passwordFieldType"
                      class="input v-input"
                      name="password"
                      placeholder="Enter password"
                    />
                    <span class="eye-icon" @click="toggleImage">
                      <img
                        id="eyetoggle-button"
                        :src="eyeSrc"
                        width="28"
                        class="active"
                      />
                    </span>
                    <HasError :form="regForm" field="password" />
                  </div>
                </div>
              </div>

              <div class="control is-agree">
                <label class="checkbox is-outlined p-0">
                  <span />
                  <span>
                    <p>
                      By signing up, you agree to our
                      <a
                        href="https://resilientx.com/terms-and-conditions"
                        target="_blank"
                        class="text-primary terms-and-conditions"
                        >Terms and Conditions</a
                      >, and
                      <a
                        href="https://resilientx.com/privacy-policy"
                        target="_blank"
                        class="text-primary terms-and-conditions"
                        >Privacy Policy</a
                      >.
                    </p>
                  </span>
                </label>
              </div>
              <HasError :form="regForm" field="agree" />

              <div class="button-wrap has-help">
                <FormButton
                  :form="regForm"
                  class="button is-rounded v-button is-bold is-big is-raised is-primary"
                  type="submit"
                  style="font-family: Poppins"
                >
                  <label class="sign-up">Sign Up</label>
                </FormButton>
              </div>

              <div class="forgot-link has-has-text-centereded">
                <div class="footer-section">
                  <span class="footer-text">
                    Do have an account?
                    <span class="text-style-1">&nbsp;</span>
                    <span>
                      <RouterLink :to="{ name: 'Login' }" class="sign-in"
                        >Sign in&nbsp;</RouterLink
                      >
                    </span>
                    <span class="text-style-3">here</span>
                  </span>
                </div>
              </div>

              <div class="has-text-centered or-line">
                <div
                  class="row or-part is-flex is-justify-content-center is-align-items-center"
                >
                  <div class="line-stroke"></div>
                  <p class="or-text">Or sign in with</p>
                  <div class="line-stroke"></div>
                </div>
              </div>

              <div
                class="group-button is-flex is-justify-content-center is-align-items-center"
              >
                <span
                  class="google-button is-flex is-justify-content-center is-align-items-center"
                  @click="loginGoogle"
                >
                  <img src="/images/icons/logos/Google.svg" class="google-button-image" />
                </span>
                <span
                  class="google-button is-flex is-justify-content-center is-align-items-center"
                  @click="loginMicrosoft"
                >
                  <img
                    src="/images/icons/logos/Microsoft.svg"
                    class="google-button-image"
                  />
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from '/@src/form'
import { axios } from '/@src/axios'
import { useMeta } from 'vue-meta'
import { Button as FormButton, HasError } from 'vform/src/components/bootstrap5'
import { mapGetters } from 'vuex'

export default {
  name: 'RegistrationView',
  components: {
    FormButton,
    HasError,
  },
  setup() {
    useMeta({
      title: 'Register',
      bodyAttrs: {},
    })
  },
  data: () => ({
    form: new Form({
      email: '',
      password: '',
    }),
    regForm: new Form({}),
    link: null,
    isToggled: true,
    isPasswordVisible: false,
    eyeSrc: '/images/icons/logos/eye.svg',
    currentSlide: 0,
  }),
  computed: {
    ...mapGetters(['theme', 'general']),
    passwordFieldType() {
      return this.isPasswordVisible ? 'text' : 'password'
    },
  },
  mounted() {
    if (this.$route.params.hash) {
      this.getRegistrationLink()
    }
    if (this.$route.query.email) {
      this.regForm.email = this.$route.query.email
    }
  },
  beforeMount() {
    this.$store.dispatch('addBodyClass', 'authorization')
  },
  beforeUnmount() {
    this.$store.dispatch('addBodyClass', '')
  },
  methods: {
    loginGoogle() {
      axios
        .get('/login/google')
        .then((res) => {
          window.location.href = res.data.data.url
        })
        .catch(() => {})
    },
    loginMicrosoft() {
      axios
        .get('/login/microsoft')
        .then((res) => {
          window.location.href = res.data.data.url
        })
        .catch(() => {})
    },
    getRegistrationLink() {
      return new Promise((resolve, reject) => {
        axios
          .get('/register/' + this.$route.params.hash)
          .then((res) => {
            this.link = res.data.data
            resolve()
          })
          .catch(() => {
            this.form.errors.set('error', 'Failed retrieve registration link information')
            reject()
          })
      })
    },
    async register() {
      this.regForm.type = 'user'
      this.regForm.agree = 1
      this.regForm.hash = this.$route.params.hash
      await this.regForm
        .post('/register')
        .then(async (res) => {
          await this.$store.dispatch('addAccessToken', res.data.data.access_token)
          window.location.href = '/'
        })
        .catch(() => {})
    },
    toggleImage() {
      this.isToggled = !this.isToggled
      this.isPasswordVisible = !this.isPasswordVisible
      this.eyeSrc = this.isToggled
        ? '/images/icons/logos/eye.svg'
        : '/images/icons/logos/eye-1.svg'
    },
    changeSlide(index) {
      if (index !== this.currentSlide) {
        this.currentSlide = index
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.small {
  font: italic 13px sans-serif;
}
.social-button-bg {
  transition: all 0.3s;
}
.social-button-bg:hover {
  fill: #cccccc;
  box-shadow: var(--primary-box-shadow) !important;
}
.social-button:hover .social-button-bg {
  fill: #cccccc;
  box-shadow: var(--primary-box-shadow) !important;
}
.modern-signup {
  position: relative;
  background: var(--white);
  min-height: 100vh;

  .signup-panel {
    background-color: #11131c;
    color: #e2e1ee;
  }
  .column {
    &.is-relative {
      position: relative;
    }
  }
  .h-hidden-mobile {
    display: block;
  }
  .hero {
    &.has-background-image {
      position: relative;

      .hero-overlay {
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
        background: #5d4298 !important;
        opacity: 0.6;
      }
    }

    .hero-body {
      background: url('/images/logos/logo/Blue_container.jpg') center / cover;
      min-height: 100vh;

      .brand-section {
        align-self: stretch;
        flex-direction: column;
        padding: 0;
      }
      .main-section {
        position: relative;
        overflow: hidden;
        width: 580px;
        height: 600px;
        margin-top: 30px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 100%;
          object-fit: cover;
          opacity: 0;
          transition: opacity 1s ease-in-out;

          &.active {
            left: 0;
            opacity: 1;
            z-index: 1;
          }
          &.in-active {
            left: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out;
          }
        }
      }
      .slide-button {
        flex-direction: row;
        height: 16px;

        .move-button {
          height: 16px;
          margin: 0 4px;
          border-radius: 10px;
          transition: width 0.5s ease-in-out;
        }
        .active {
          width: 48px;
          background-color: #3d5af1;
          border: 1px solid #3d5af1;
        }
        .in-active {
          width: 16px;
          background-color: #ededed;
          border: 1px solid #ededed;
        }
      }
    }
  }

  .underlay {
    display: block;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 66.6%;
    height: 100%;
    background: #fdfdfd;
    z-index: 0;
  }

  .is-image {
    position: relative;
    border-inline-end: 1px solid var(--fade-grey);

    .hero-image {
      position: relative;
      z-index: 2;
      display: block;
      margin: -80px auto 0;
      max-width: 60%;
      width: 60%;
    }
  }

  .google-login {
    position: absolute;
    top: 0;
    right: 5px;
    img {
      height: 45px;
    }
  }

  .forgot-link {
    margin-top: 10px;

    a {
      font-family: var(--font-alt);
      font-size: 0.9rem;
      color: var(--light-text);
      transition: color 0.3s;

      &:hover,
      &:focus {
        color: var(--primary);
      }
    }

    .footer-section {
      margin-top: 16px;
      text-align: center;

      .footer-text {
        height: 40px;
        align-self: stretch;
        flex-grow: 0;
        font-family: Poppins;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #ebf1ff;

        .text-style-3 {
          color: #e2e1ee;
        }
        .sign-in {
          font-size: 18px;
          font-weight: 600;
          line-height: 1;
          color: #e2e1ee;
        }
      }
    }
  }

  .is-form {
    position: relative;
    max-width: 780px;
    margin: 0 auto;

    form {
      animation: fadeInLeft 0.5s;
    }

    .form-text {
      padding: 0 20px;
      animation: fadeInLeft 0.5s;

      .top-logo {
        z-index: 1;
        img {
          display: block;
          width: 80.3px;
          height: 80px;
          margin: 0 32px auto;
        }

        svg {
          height: 50px;
          width: 50px;
        }
      }

      .account-text {
        font-size: 22px;
        color: #e2e1ee;
        text-align: center;
      }

      h2 {
        font-family: var(--font-alt);
        font-weight: 400;
        font-size: 2rem;
        color: var(--primary);
      }

      p {
        color: var(--muted-grey);
        margin-top: 32px;
      }
    }

    .recover-text {
      font-size: 0.9rem;
      color: var(--dark-text);
    }

    .signup-wrapper {
      margin-top: 25px;

      .or-line {
        margin-bottom: 32px;
      }

      .or-part {
        margin-top: 49px;

        .or-text {
          margin: 0 32px;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #c4c5d8;
        }
      }

      .field {
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .input-field {
          margin-bottom: 12px;
        }

        label {
          font-size: 18px;
          line-height: 1.33;
          height: 24px;
          margin-top: 32px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #c4c5d8;
        }
        .forgot-password {
          margin-top: 16px;
          font-weight: normal;
        }
        .password-wrapper {
          position: relative;

          .eye-icon {
            display: flex;
            position: absolute;
            cursor: pointer;
            right: 5px;
            top: 5px;
          }

          input {
            padding: 8px 32px 8px 12px;
          }
        }
        input {
          flex-grow: 0;
          font-family: Poppins;
          font-size: 16px !important;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #e2e1ee;
          height: 40px;
          padding: 8px 12px;
        }
      }
      .control {
        position: relative;
        width: 100%;
        margin-top: 35px;

        .input {
          padding-top: 14px;
          height: 60px;
          border-radius: 10px;
          padding-inline-start: 55px;
          transition: all 0.3s;

          &:focus {
            background: var(--fade-grey-light-6);
            border-color: var(--placeholder);

            ~ .auth-label,
            ~ .autv-icon i {
              color: var(--muted-grey);
            }
          }
        }

        .error-text {
          color: var(--danger);
          font-size: 0.8rem;
          display: none;
          padding: 2px 6px;
        }

        .auth-label {
          position: absolute;
          top: 6px;
          inset-inline-start: 55px;
          font-size: 0.8rem;
          color: var(--dark-text);
          font-weight: 500;
          z-index: 2;
          transition: all 0.3s; // transition-all test
        }

        .autv-icon,
        :deep(.autv-icon) {
          position: absolute;
          top: 0;
          inset-inline-start: 0;
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          color: var(--placeholder);
          transition: all 0.3s;
        }

        &.has-validation {
          .validation-icon {
            position: absolute;
            top: 0;
            inset-inline-end: 0;
            height: 60px;
            width: 60px;
            display: none;
            justify-content: center;
            align-items: center;

            .icon-wrapper {
              height: 20px;
              width: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: var(--radius-rounded);

              svg {
                height: 10px;
                width: 10px;
                stroke-width: 3px;
                color: var(--white);
              }
            }

            &.is-success {
              .icon-wrapper {
                background: var(--success);
              }
            }

            &.is-error {
              .icon-wrapper {
                background: var(--danger);
              }
            }
          }

          &.has-success {
            .validation-icon {
              &.is-success {
                display: flex;
              }

              &.is-error {
                display: none;
              }
            }
          }

          &.has-error {
            .input {
              border-color: var(--danger);
            }

            .error-text {
              display: block;
            }

            .validation-icon {
              &.is-error {
                display: flex;
              }

              &.is-success {
                display: none;
              }
            }
          }
        }

        &.is-flex {
          display: flex;
          align-items: center;

          a {
            display: block;
            margin-inline-start: auto;
            color: var(--muted-grey);
            font-weight: 500;
            font-size: 0.9rem;
            transition: color 0.3s;

            &:hover,
            &:focus {
              color: var(--primary);
            }
          }

          .remember-me {
            font-size: 0.9rem;
            color: var(--muted-grey);
            font-weight: 500;
          }
        }
        p {
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #ebf1ff;

          .terms-and-conditions {
            font-size: 18px;
          }
        }
      }
      .line-stroke {
        width: 115.2px;
        height: 1.6px;
        flex-grow: 0;
        background-color: #c4c5d8;
      }
      .button-wrap {
        margin: 45px 0 40px 0;

        &.has-help {
          display: flex;
          align-items: center;

          > span {
            margin-inline-start: 12px;
            font-family: var(--font);

            a {
              color: var(--primary);
              font-weight: 500;
              padding: 0 2px;
            }
          }
        }

        .button {
          height: 40px;
          width: 100%;
          flex-direction: row;
          gap: 12px;
          padding: 7px 16px;
          border-radius: 60px;
          border: solid 1px #004eff;
          background-color: #004eff;

          &:first-child {
            &:hover {
              opacity: 0.8;
            }
          }
        }
        .sign-in {
          width: 53px;
          height: 26px;
          flex-grow: 0;
          font-family: Poppins;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          color: #fff;
        }
      }
      .group-button {
        height: 40px;
        align-self: stretch;
        flex-grow: 0;
        flex-direction: row;
        gap: 20px;
        padding: 0;
        .google-button {
          flex-grow: 1;
          flex-direction: row;
          gap: 12px;
          padding: 7px 16px;
          border-radius: 6px;
          border: solid 1px #fff;
          background-color: #fff;
        }
      }
    }
  }
}

@media only screen and (width <= 1024px) {
  .modern-signup {
    .h-hidden-mobile {
      display: none;
    }
    .top-logo {
      top: 30px;
    }

    .dark-mode {
      top: 36px;
      inset-inline-end: 44px;
    }

    .is-form {
      padding-top: 56px;
      padding-bottom: 28px;
      background-color: #000b3a;
      min-height: 100vh;
      max-width: 100vw;

      .form-text {
        padding: 0 16px;
        .top-logo {
          img {
            width: 48.2px;
            height: 48px;
          }
        }

        .account-text {
          align-self: stretch;
          font-size: 16px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: #fff;
        }

        p {
          margin-top: 12px;
        }
      }

      .signup-wrapper {
        padding: 48px 16px 0;
        margin-top: 0px;

        .field {
          margin-bottom: 8px;
          display: block;

          input {
            font-size: 14px;
          }

          label {
            line-height: 1.5;
            align-self: stretch;
            flex-grow: 0;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
            margin: 0 0 4px 0;
          }
          .password-wrapper {
            .eye-icon {
              right: 0px;
            }
          }
          .forgot-password {
            margin: 8px 0;
          }
        }

        .button-wrap {
          margin-top: 17px;

          .sign-up {
            width: 61px;
            flex-grow: 0;
            font-family: Poppins;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
          }
        }

        .or-line {
          margin-bottom: 12px;
          .or-part {
            margin-top: 12px;
            .line-stroke {
              width: 112px;
              height: 0.7px;
            }
            .or-text {
              margin: 0px 10px;
              font-size: 14px;
            }
          }
        }
        .forgot-link {
          .footer-section {
            margin-top: 12px;

            .footer-text {
              height: 40px;
              align-self: stretch;
              flex-grow: 0;
              font-family: Poppins;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              text-align: center;
              color: #ebf1ff;

              a {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.2;
                color: #fff;
              }

              .sign-in {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.2;
                color: #e2e1ee;
              }
            }
          }
        }

        .control {
          margin-top: 16px;

          p {
            align-self: stretch;
            flex-grow: 0;
            font-family: Poppins;
            font-size: 11.5px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #ebf1ff;

            .terms-and-conditions {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (width > 1024px) and (width <= 1216px) {
  .modern-signup {
    .hero {
      .hero-body {
        .brand-section {
          scale: 0.7;
        }
        .main-section {
          scale: 0.75;
          width: 450px;
          height: 480px;
          margin-top: 0px;
        }
      }
    }
    .is-form {
      margin: 0 25px;

      .form-text {
        .top-logo {
          scale: 0.9;
        }
        .account-text {
          margin-top: 15px;
          font-size: 19px;
        }
      }
      .signup-wrapper {
        margin-top: 10px;
        .control {
          margin-top: 15px;
        }
        .field {
          label {
            margin-top: 0px;
            font-size: 16px;
          }
        }
        .button-wrap {
          margin: 30px 0 20px 0;
        }
        .or-part {
          margin-top: 25px;
        }
      }
    }
  }
}
@media only screen and (width > 1216px) and (width <= 1440px) {
  .modern-signup {
    .hero-body {
      .brand-section {
        scale: 0.85;
      }
      .main-section {
        scale: 0.85;
      }
    }
    .is-form {
      margin: 0 50px;
    }
  }
}
@media only screen and (width > 1440px) and (width < 1920px) {
  .modern-signup {
    .is-form {
      margin: 0 65px;
    }
  }
}
/* ==========================================================================
Dark mode
========================================================================== */

.is-dark {
  .modern-signup {
    background: #11131c;

    .underlay {
      background: var(--dark-sidebar-light-10);
    }

    .is-image {
      border-color: var(--dark-sidebar-light-10);
    }

    .is-form {
      .form-text {
        h2 {
          color: var(--primary);
        }
      }

      .signup-wrapper {
        .control {
          &.is-flex {
            a:hover {
              color: var(--primary);
            }
          }

          .input {
            background: var(--dark-sidebar-light-4);

            &:focus {
              border-color: var(--primary);

              ~ .autv-icon {
                i {
                  color: var(--primary);
                }
              }
            }
          }

          .auth-label {
            color: var(--light-text);
          }
        }

        .button-wrap {
          &.has-help {
            span {
              color: var(--light-text);

              a {
                color: var(--primary);
              }
            }
          }
        }
      }
    }
  }

  .mark-section {
    align-self: stretch;
    flex-direction: column;
    padding: 0;

    .account-image {
      background-image: url('./icons/Logo 2.svg');
      background-size: cover;
    }
  }
}
</style>